@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
  font-family: 'JOURNALISM';
  src: url('../fonts/JOURNALISM.eot?#iefix') format('embedded-opentype'),  url('../fonts/JOURNALISM.woff') format('woff'), url('../fonts/JOURNALISM.ttf')  format('truetype'), url('../fonts/JOURNALISM.svg#JOURNALISM') format('svg');
  font-weight: 400;
  font-style: normal;
}

/*variables*/

@box-shadow-hover: 0 4px 20px 4px rgba(216,205,199,.7);
@box-shadow-hover-small: 0 4px 14px 4px rgba(216,205,199,.7);

/*mixins*/

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.flex-column_center {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-column_between {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex_between {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
	align-items: center;
}

/*animation mixins*/

.animated {
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.animated_opacity {
	opacity: 0;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.animated_top {
	-ms-transform: translate(0, -100px);
	-moz-transform: translate(0, -100px);
	-webkit-transform: translate(0, -100px);
	transform: translate(0, -100px);
}

.animated_bottom {
	-ms-transform: translate(0, 100px);
	-moz-transform: translate(0, 100px);
	-webkit-transform: translate(0, 100px);
	transform: translate(0, 100px);
}

.animated_right {
	-ms-transform: translate(100px, 0);
	-moz-transform: translate(100px, 0);
	-webkit-transform: translate(100px, 0);
	transform: translate(100px, 0);
}

.visible {
	opacity: 1;
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

/*common styles*/

body{
    margin:0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px; 
	font-weight: 400;
	color: rgb(0, 0, 0);
	line-height: 1.4; 
	min-width: 320px;
}

button,input,select,textarea{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

a {
	font-family: 'Open Sans', sans-serif;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

p {
    line-height: 1.8;
    margin: 25px 0;
}

.container {
    max-width:1900px;
    margin:0 auto;
	overflow: hidden;
	position: relative;
}

.content {
	margin-left: 170px;
	position: relative;
}

.wrapper {
	padding-left: 10.4%;
	padding-right: 10.4%;
	margin: 0 auto;
	position: relative;
}

.no-wrapper {
	padding-left: 10.4%;
	position: relative;
}

.padding-big {
	padding-top: 150px;
	padding-bottom: 130px;
}

.padding-small {
	padding-top: 120px;
	padding-bottom: 120px;
}

.columns {
	position: relative;
}

.columns__left-column {
	box-sizing: border-box;
	width: 30%;
}

.columns__right-column {
	width: 70%;
}

.wrapper .columns__left-column {
	width: 34%;
}

.wrapper .columns__right-column {
	width: 66%;
}

.common-name {
	font-size: 12px;
	color: rgb(241, 56, 54);
	text-transform: uppercase;
}

.caption-background {
	font: 400 240px/1 "JOURNALISM";
	color: rgba(106, 82, 40, 0.129);
	position: absolute;
	top: 85px;
	left: 85px;
}

.caption-background_white {
	color: rgba(255, 255, 255, 0.522);
}

.caption {
	font: 400 96px/1 "JOURNALISM";
	color: rgb(12, 12, 12);
	max-width: 350px;
    margin: 0 0 15px;
	position: relative;
}

.caption_white {
	color: rgb(255, 255, 255);
}

.caption-center {
	position: relative;
}

.caption-center__background {
	font: 400 240px/1 "JOURNALISM";
	color: rgb(243, 240, 238);
	text-align: center;
}

.caption-center_on-dark .caption-center__background {
	color: rgba(71, 61, 42, 0.871);
}

.caption-center__small-caption {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	font-size: 36px;
	line-height: 1;
	color: rgb(0, 0, 0);
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.caption-center__mini-caption {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
}

.caption-center__button {
    margin-top: 25px;
}

.caption-center_on-dark .caption-center__small-caption {
	color: rgb(255, 255, 255);
}

.description {
	font-size: 14px;
	color: rgb(255, 255, 255);
	max-width: 275px;
}

.finger {
	display: none;
	animation: finger 3s infinite;
	svg {
		fill: #fff;
	}
	&.finger_black svg {
		fill: #000;
	}
}

 
@keyframes finger {
	0% {
		-ms-transform: translate(-5px, 0);
		-moz-transform: translate(-5px, 0);
		-webkit-transform: translate(-5px, 0);
		transform: translate(-5px, 0);
	}
  	12% {
    	-ms-transform: translate(5px, 0);
		-moz-transform: translate(5px, 0);
		-webkit-transform: translate(5px, 0);
		transform: translate(5px, 0);
	}
	24% {
    	-ms-transform: translate(-5px, 0);
		-moz-transform: translate(-5px, 0);
		-webkit-transform: translate(-5px, 0);
		transform: translate(-5px, 0);
	}
	36% {
    	-ms-transform: translate(5px, 0);
		-moz-transform: translate(5px, 0);
		-webkit-transform: translate(5px, 0);
		transform: translate(5px, 0);
	}
	48% {
    	-ms-transform: translate(-5px, 0);
		-moz-transform: translate(-5px, 0);
		-webkit-transform: translate(-5px, 0);
		transform: translate(-5px, 0);
	}
	100% {
    	-ms-transform: translate(-5px, 0);
		-moz-transform: translate(-5px, 0);
		-webkit-transform: translate(-5px, 0);
		transform: translate(-5px, 0);
	}
}

.bottom-line {
	.flex_between;
	height: 52px;
	.bottom-line__stage {
		font-size: 14px;
		color: rgb(121, 95, 49);
	}
	
	.bottom-line__icon {
		display: none;
		border-radius: 50%;
		background: url(../../images/icons/arrow.svg) no-repeat center,rgb(38, 33, 25);
		width: 52px;
		height: 52px;
	}
}

/* swiper slider */

.swiper-container {
	height: 100%;
	padding: 30px;
	margin: -30px;
	position: relative;
}

.swiper-pagination {
    background: rgba(183,161,122,.25);
    width: 204px;
    height: 2px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background-color: rgb(241, 56, 54);
}

.swiper-with-pagination .swiper-button-next, .swiper-with-pagination .swiper-button-prev {
    width: 30px;
    height: 30px;
    border: none;
}

.swiper-with-pagination .swiper-button-next:after, .swiper-with-pagination .swiper-button-prev:after {
    color: #ffffff;
    font-size: 16px;
}

.swiper-with-pagination .swiper-button-next:hover, .swiper-with-pagination .swiper-button-prev:hover {
	background: none;
}

.swiper-with-pagination .swiper-button-next:hover:after, .swiper-with-pagination .swiper-button-prev:hover:after {
	color: rgb(121, 95, 49);
}

.swiper-only-mobile {
	position: relative;
}

@media screen and (min-width: 768px) {
	
	.swiper-only-mobile .swiper-wrapper {
		flex-wrap: wrap;
		margin: -16px;
	}
	
	.swiper-only-mobile .swiper-slide {
		box-sizing: border-box;
		width: 33.3333%;
		padding: 16px;
	}
	
	.swiper-only-mobile .swiper-button-prev, .swiper-only-mobile .swiper-button-next {
		display: none;
	}
}




/* buttons */

.button {
	display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    border: none;
	border-radius: 25px;
    font-size: 14px;
	color: rgb(255, 255, 255);
    text-align: center;
	position: relative;
	padding: 7px 20px;
	transition: all 0.3s linear;
}

.button_white {
	background-color: rgb(255, 255, 255);
	color: rgb(241, 56, 54);
}

.button_white:hover {
  box-shadow: 0px 6px 14.24px 1.76px rgb(238, 238, 238);
}

.button_brown {
	background-color: rgb(121, 95, 49);
	padding: 10px 35px;
}

.button_brown:hover {
  background-color: rgb(241, 56, 54);
}

.button_red {
	background-color: rgb(241, 56, 54);
	padding: 14px 20px;
	width: 150px;
}

.button_red.active {
	border: 1px solid rgb(241, 56, 54);
	background: transparent;
	color: rgb(241, 56, 54);
	&:hover {
		background: transparent;
	}
}

.button_red:hover {
	background-color: #d6ad76;
}

.button_biege {
    background-color: #f3f0ee;
    color: #f13836;
    width: 150px;
    padding: 7px 10px;
}

.button_biege:hover {
	color: rgb(1, 1, 1);
}



/*media*/

@media screen and (max-width: 1439px) {
	
	.padding-big {
		padding-top: 100px;
		padding-bottom: 80px;
	}

	.padding-small {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	
	.caption {
		font-size: 70px;
		max-width: 250px;
	}
	
	.caption-background {
		font-size: 180px;
		top: 25px;
		left: 50px;
	}
	
	.caption-center__background {
		font-size: 180px;
	}
	
	.caption-center__small-caption {
		font-size: 30px;
	}
	
	.caption-center__button {
		margin-top: 15px;
	}
}


@media screen and (max-width: 1279px) {
	.common-name {
		font-size: 10px;
	}
	
	.caption {
		font-size: 46px;
		max-width: 170px;
	}
	
	.description {
		font-size: 12px;
		max-width: 170px;
	}
	
	.finger {
		display: block;
	}
	
	
}

@media screen and (max-width: 1023px) {
	
	.wrapper, .no-wrapper {
		padding-right: 0;
	}
	
	.columns__left-column {
		width: 45%;
	}

	.columns__right-column {
		width: 55%;
	}
	
	.caption-background {
		font-size: 120px;
		top: 20px;
		left: 30px;
	}
	
	.caption-center__background {
		font-size: 120px;
	}
	
	.caption-center__small-caption {
		font-size: 24px;
	}
	
	.caption-center__button {
		margin-top: 10px;
	}
	
	
	.button_red {
		padding: 7px 20px;
	   width: auto;
	}
	
     .content {
		margin-left: 130px;
	}
	
	.bottom-line {
		.flex_between;
		height: 30px;
		.bottom-line__stage {
			font-size: 10px;
		}

		.bottom-line__icon {
			width: 30px;
			height: 30px;
		}
	}
	
	.swiper-container {
		padding: 20px;
		margin: -20px;
	}
		
}

@media screen and (max-width: 767px) {
	p {
		line-height: 1.6;
		margin: 15px 0;
		font-size: 12px;
	}
    .content {
		margin-left: 0;
	}
	
	.wrapper, .no-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.padding-big {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	
	.padding-small {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.columns {
		flex-direction: column;
		align-items: center;
		z-index: 2;
	}
	
	.columns__left-column, .wrapper .columns__left-column {
		width: auto;
	}

	.columns__right-column, .wrapper .columns__right-column {
		padding-top: 100px;
		width: 100%;
	}
	
	.caption-background {
		font-size: 90px;
		top: 10px;
		left: 25%;
		z-index: 1;
	}
	
	.caption-center__background {
		font-size: 90px;
	}
	
	.caption-center__button.button {
		font-size: 14px;
		padding: 6px 20px 7px;
		margin-top: 8px;
	}
	
	.caption-center__small-caption {
		font-size: 28px;
		top: -9px;
	}
}

@media screen and (max-width: 639px) {
	.button {
		padding: 4px 15px 6px;
	}
	
}




