/*events-screen*/ 

.events-screen .caption-center {
    margin-bottom: 45px;
}

.swiper-events .swiper-button-next, .swiper-events .swiper-button-prev {
    top: 55px;
    left: 60px;
}

.swiper-events .swiper-button-prev {
    top: 140px;
}

.swiper-events .swiper-slide {
	width: 275px;
}

.film {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background: rgb(243, 240, 238);
	padding: 45px 55px;
	.animated;
	.animated_bottom;
	&.visible {
		.visible
	}
	&:hover {
		box-shadow: @box-shadow-hover;
	}
}

.film__poster {
	display: block;
	height: 250px;
	margin: 0 auto;
}

.film__caption {
	font-size: 14px;
	color: rgb(23, 23, 23);
	text-transform: uppercase;
	margin: 20px 0 25px;
}

.film__ticket {
	font-size: 14px;
	color: rgb(241, 56, 54);
	padding-left: 55px;
	position: relative;
	&:before {
		content: "";
		border-radius: 50%;
		background: url(../images/icons/ticket.svg) no-repeat center,rgb(255, 255, 255);
		width: 37px;
		height: 37px;
		position: absolute;
		left: 0;
		top: -10px;
	}
}

.film:hover .film__ticket {
	color: rgb(0, 0, 0);
}



/*media*/ 

@media screen and (max-width: 1921px) {
		
}

@media screen and (max-width: 1439px) {
	.swiper-events .swiper-slide {
		width: 240px;
	}
	
	.swiper-events .swiper-button-next, .swiper-events .swiper-button-prev {
		top: 60px;
		left: 50px;
	}
	
	.swiper-events .swiper-button-prev {
		top: 130px;
	}
	
	.film {
		padding: 35px 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.film__caption {
			font-size: 12px;
		}
	}
	
	.film__poster {
		height: 200px;
	}
	
}

@media screen and (max-width: 1279px) {
	.swiper-events .swiper-button-next, .swiper-events .swiper-button-prev {
		left: 17px;
	}
	
	.film {
		padding: 30px 20px;

		.film__caption {
			margin: 15px 0 20px;
		}
	}
	
	
}

@media screen and (max-width: 1023px) {
	.swiper-events .swiper-button-next, .swiper-events .swiper-button-prev {
		left: 5px;
	}
			
	.film:hover {
		box-shadow: @box-shadow-hover-small;
	}
	
}


@media screen and (max-width: 767px) {
	.film {
		padding: 20px;
	
		.film__caption {
			font-size: 10px;
			margin: 10px 0 30px;
		}

		.film__poster {
			height: 190px;
		}

		.film__ticket {
			font-size: 12px;
			padding-left: 40px;
			&:before {
				width: 30px;
				height: 30px;
				top: -7px;
			}
		}
	}
	
	.swiper-events .swiper-button-next, .swiper-events .swiper-button-prev {
		top: 50%;
		left: 5px;
	}
	
	.swiper-events .swiper-button-next {
		right: 5px;
		left: auto;
	}
}

@media screen and (max-width: 767px) {
	
	.film{
		width: 190px;
		margin: 0 auto;
	}
	
}