footer {
	padding-top: 50px;
    padding-bottom: 70px;
}

.footer-content {
	align-items: flex-end;
}

.footer-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 47%;
	background: #795f31;
	padding: 50px;
	text-align: center;
}

.footer-logo {
	display: block;
	background: url(../../images/logo2.png) no-repeat center;
	background-size: contain;
	width: 410px;
	height: 260px;
}

.footer-info__medium-text {
	font-size: 24px;
	color: rgb(255, 255, 255);
	margin: 40px 0;
	max-width: 410px;
}

.footer-info__small-text {
	font-size: 14px;
	color: rgb(229, 197, 154);
	margin-bottom: 40px;
	max-width: 410px;
}

.scheme-link {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background: #d6ad76;
	width: 300px;
	height: 310px;
	font: 400 82px/1 "JOURNALISM";
	color: rgb(12, 12, 12);
	text-align: center;
}

.footer-contacts {
	box-sizing: border-box;
	padding: 30px;
	justify-content: 310px;
}

.footer-contacts__contact {
	font-size: 14px;
	color: rgb(63, 45, 41);
}

.address {
	position: relative;
	padding-left: 35px;
}

.address:before {
	content: "";
	background: url(../../images/icons/kontakty.svg) no-repeat center;
	background-size: contain;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 0;
}

.developers a {
	
}




/*media*/ 

@media screen and (min-width: 1921px) {
    
}

@media screen and (max-width: 1279px) {
	
	
}

@media screen and (max-width: 1023px) {
	
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 639px) {
	
}

