/*menu column*/

.menu-column {
	background: #f3f0ee;
	width: 170px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.logo {
	display: block;
	background: url(../../images/logo.png) no-repeat center;
	background-size: contain;
	width: 129px;
    height: 86px;
	text-decoration: none;
	margin: 30px auto;
}

.menu {
    padding: 0;
    margin: 0;
}

.menu li {
    list-style: none;
}

.menu li a {
	width: 100%;
    box-sizing: border-box;
    display: inline-block;
	font: 400 14px "OpenSans";
	color: rgb(54, 41, 18);
	text-align: center;
    padding: 50px 10px 15px;
	border-left: 1px solid #f3f0ee;
	position: relative;
}

.menu li a:hover{
	background: rgb(237, 233, 230);
	border-left: 1px solid rgb(121, 95, 49);
}

.menu li a:before {
	content: "";
	background: url(../../images/icons/akcii.svg) no-repeat center;
	background-size: contain;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 15px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.menu li.menu__item_shops a:before {
	background: url(../../images/icons/magazini.svg) no-repeat center;
	background-size: contain;
}

.menu li.menu__item_events a:before {
	background: url(../../images/icons/sobitiya.svg) no-repeat center;
	background-size: contain;
}

.menu li.menu__item_restaurants a:before {
	background: url(../../images/icons/akcii.svg) no-repeat center;
	background-size: contain;
}

.menu li.menu__item_entertainment a:before {
	background: url(../../images/icons/razvlecheniya.svg) no-repeat center;
	background-size: contain;
}

.menu li.menu__item_services a:before {
	background: url(../../images/icons/uslugi.svg) no-repeat center;
	background-size: contain;
}

.menu li.menu__item_contacts a:before {
	background: url(../../images/icons/kontakty.svg) no-repeat center;
	background-size: contain;
}

/*burger*/

.burger {
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
    margin: auto 0 auto 30px;
}

.burger span, .burger span::before, .burger span::after {
	display: block;
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 26px;
    background: #000000;
    position: absolute;
    top: 11px;
    right: 7px;
    transition: all .2s ease-in-out;
    border-radius: 10px;
}

.burger span::before {
    content: '';
    left: 0;
    top: 8px;
}

.burger span::after {
    content: '';
    left: 0;
    top: 16px;
}

.burger_active span {
    background-color: transparent;
}
    
.burger_active span::before  {
    transform: rotate(45deg);
}

.burger_active span::after  {
    transform: rotate(-45deg);
    top: 8px;
} 


/*media*/ 

@media screen and (max-width: 1279px) {
	   
    header .navbar {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        width: 100%;
		z-index: 1;
    }
	
	header .menu {
		display: block;
	}
    
    header .menu>li>a {
        box-sizing: border-box;
        color: #000000;
        border-top: 1px solid #000000;
		text-align: center;
        width: 100%;
    }
	
    .burger {
        display: block;
    }
}

@media screen and (max-width: 1023px) {
	
	
}

@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 639px) {
   
}