/*menu column*/

.menu-column {
	background: #f3f0ee;
	width: 172px;
	height: 100%;
	position: fixed;
	top: 0;
	left: calc((100% - 1900px)/2);
	z-index: 10000;
}

.logo {
	display: block;
	background: url(../../images/logo.png) no-repeat center;
	background-size: contain;
	width: 129px;
    height: 86px;
	text-decoration: none;
	margin: 25px auto;
}

.menu {
    padding: 0;
    margin: 0;
	li {
		list-style: none;
		a {
			width: 100%;
			box-sizing: border-box;
			display: inline-block;
			letter-spacing: 0.8px;
			color: rgb(54, 41, 18);
			text-align: center;
			padding: 55px 10px 25px;
			border-left: 2px solid #f3f0ee;
			position: relative;
			svg {
				position: absolute;
				left: 0;
				right: 0;
				top: 10px;
				margin: 0 auto;
				z-index: 10;
				.cls-1 {
					fill: #715625;
				}
			}
		}
		&:hover{
			a {
				background: rgb(237, 233, 230);
				border-left: 2px solid rgb(121, 95, 49);
				svg .cls-1 {
					fill: #f13836;
				}
			}
		}
		&.active{
			a {
				background: rgb(237, 233, 230);
				border-left: 2px solid rgb(121, 95, 49);
				svg .cls-1 {
					fill: #f13836;
				}
			}
		}
	}
}

.menu-column__contacts {
	display: none;
}


/*media*/ 

@media screen and (max-width: 1900px) {	
	.menu-column {
		left: 0;
	}
	
	body.fancybox-active .menu-column {
		left: 0;
	}
	

}

@media screen and (max-width: 1823px) {
	.menu li a {
		padding: 40px 10px 15px;
		font-size: 12px;
	}
}

@media screen and (max-width: 1023px) {
	.menu-column {
		width: 130px;
	}
	
	.logo {
		width: 100px;
		height: 75px;
		margin: 20px auto;
	}
	
}

@media screen and (max-width: 767px) {
	
	.menu-column {
		display: flex;
		flex-direction: column;
		background: #f7f6f4;
		box-sizing: border-box;
		width: 100%;
		padding-bottom: 40px;
		.animated;
		left: -100%;
		.navbar {
			 margin-top: 20px;
		}
		&.visible {
			left: 0;
			height: auto;
			bottom: 0;
			overflow: hidden;
		}
	}
	
	.menu-column .logo {
		margin: 10px auto 10px 20px;
	}
	
	.menu-column .burger {
		margin-right: 20px;
	}
	
	.menu li {
		a {
			text-align: left;
			font-size: 14px;
			padding: 13px 10px 13px 60px;
			svg {
				top: 9px;
				left: 20px;
				right: auto;
				margin: 0;
			}
		}
	}
	
	.menu-column__contacts {
		display: flex;
		margin: auto 0 0;
		.contact {
			font-size: 14px;
			margin-bottom: 15px;
		}
	}
	
	
}

@media screen and (max-width: 639px) {
   
}