.pagination-line {
    margin: 45px 0 0;
	.button {
		margin-right: 45px;
	}
}

.page-numbers {
	display: block;
	border-radius: 50%;
	border-radius: 50%;
	background: rgb(245, 246, 250);
	width: 36px;
	height: 36px;
	font-size: 11px;
	line-height: 36px;
	color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
	margin: 5px;
	&:hover{
		background-color: rgb(121, 95, 49);
		color:rgb(255,255,255);
	}
}

.page-numbers.current {
	background-color: rgb(121, 95, 49);
	color:rgb(255,255,255);
}