.inner-page_scheme {
	overflow: hidden;
	header {
		position: relative;
		z-index: 2;
	}
	footer {
		position: relative;
		z-index: 2;
	}
}

.inner-page_scheme .inner-page__main {
	background: #fff;
}

.scheme-filters {
	align-items: center;
	padding: 100px 10.4%;
	background: #fff;
	position: relative;
	z-index: 2;
	.select2-container {
		margin-right: 20px;
	}
	
	.search-form {
		flex: 1;
	}
	.input-search {
		background: #f3f0ee;
		height: 59px;
		line-height: 59px;
		color: #42352a;
		&.is-open {
			border-radius: 40px 40px 0 0;
			border-bottom: 1px solid #dcd9d7;
		}
	}
}

.ui-menu {
	background: #f3f0ee;
	border-radius: 0 0 40px 40px;
    z-index: 10;
    margin: 0;
    padding: 9px 0;
    overflow: hidden;
	border: none;
	.ui-menu-item {
		list-style: none;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		padding: 10px 40px;
		cursor: pointer;
		.ui-state-hover, .ui-state-active {
			background: none;
			border: none;
			color: #f13836;
		}
	}
	.ui-widget-content.ui-menu-divider {
		display: none;
	}
}

input.input-search:not([type=submit]):focus {
    border-bottom: none;
    color: #42352a;
	&.is-open {
		border-bottom: 1px solid #dcd9d7;
	}
}

.inner-page_scheme {
	.tabs {
		padding: 100px 0;
		margin: 0;
		background: #f9f7f6;
		overflow: visible;
		position: relative;
		.drag-container {
			position: absolute;
			width: 110%;
			height: 130%;
			top: -15%;
			left: -5%;
		}
		.tabs__buttons {
			margin: 0;
			padding: 0;
			padding-left: 0;
			justify-content: flex-end;
			position: absolute;
			bottom: 100px;
			left: 10.4%;
			flex-direction: column;
			z-index: 2;
			border: 1px solid #f3f0ee;
			box-shadow: 0 0px 4px 0px #edeae8;
		}
		.tabs__button {
			width: 60px;
			height: 60px;
			padding: 0;
			line-height: 60px;
			border-radius: 0;
			margin: 0;
			background: #fff;
			color: #42362a;
			border: none;
			border-bottom: 1px solid #f3f0ee;
			&.active {
				background: #f13836;
				color: #fff;
			}
			&:hover {
				background: #f13836;
				color: #fff;
			}
		}
		.tabs__item {
			padding: 0;
			height: 100%;
		}
	}
}

.controls {
	box-sizing: border-box;
	border: 1px solid #f3f0ee;
	box-shadow: 0 0px 4px 0px #edeae8;
	position: absolute;
	right: 10.4%;
	bottom: 0;
	z-index: 2;
}

.zoom-svg {
	background-color: #fff;
	color: #795e36;
	border-bottom: 1px solid #f3f0ee;
	height: 60px;
	line-height: 60px;
	width: 60px;
	text-align: center;
	font-size: 24px;
	cursor: pointer;
	outline: none;
	user-select: none;
	z-index: 10;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	&:hover {
		background: #f13836;
		color: #fff;
	}
}

.zoom-svg-out {
	line-height: 55px;
}

.scheme {
	display: flex;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	padding: 0 10.4%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	.hover-plate {
		opacity: 0;
		position: absolute;
		z-index: 3;
		display: none;
		padding-bottom: 20px;
		-moz-transition: opacity 0.5s ease-in-out 0.2s;
		-webkit-transition: opacity 0.5s ease-in-out 0.2s;
		transition: opacity 0.5s ease-in-out 0.2s;
		&.hover-plate_bottom2 {
			margin-top: 4%;
		}
		&.hover-plate_bottom3 {
			margin-top: 3%;
		}
		&.hover-plate_bottom3a {
			margin-top: 2%;
		}
		&.hover-plate_bottom5 {
			margin-top: 25%;
		}
		&.hover-plate_top2 {
			margin-top: 1%;
		}
		&.hover-plate_top5 {
			margin-top: 3.5%;
		}
		&.hover-plate_top8 {
			margin-top: 8%;
		}
		&.hover-plate_bottom13 {
			margin-top: 9%;
		}
		.hover-plate__close {
			background: #fff;
			border: 1px solid #d6ad75;
			display: none;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			box-sizing: border-box;
			position: absolute;
			top: -5px;
			right: -5px;
			cursor: pointer;
			span {
				background: url(../images/icons/close.svg) no-repeat center;
				background-size: contain;
				width: 8px;
				height: 8px;
			}
		}
		.hover-plate__wr {
			flex-direction: column;
			align-items: center;
			box-sizing: border-box;
			background: #f3f0ee;
			border-radius: 5px;
			padding: 15px;
		}
		.flex {
			align-items: center;
		}
		&:after {
			content: "";
			height: 0;
			width: 0;
			position: absolute;
			top: 100%;
			left: 50%;
			margin: -20px 0 0 -1rem;
			border: 1rem solid rgba(24, 25, 25, 0);
			border-top-color: #f3f0ee;
		}
		.hover-plate__logo{
			flex-shrink: 0;
		}
		.hover-plate__logo img {
			width: 110px;
		}
		.hover-plate__text {
			position: relative;
			padding-left: 20px;
			box-sizing: border-box;
			flex: 1;
		}
		.hover-plate__name {
			font-weight: 700;
			text-transform: uppercase;
			color: #795f31;
			margin-bottom: 7px;
		}
		.contact {
			padding-left: 30px;
			margin: 10px 0 0;
		    text-align: center;
			&:before {
				top: 0;
			}
		}
		.button {
			background: #d6ad76;
			box-shadow: 0 6px 14.24px 1.76px #d5cbbe;
			font-size: 14px;
			padding: 3px 20px 5px;
			&:hover {
				background: #f13836;
			}
		}
		&.hover {
			display: block;
			opacity: 1;
		}
	}
	
	svg {
		margin: auto;
		position: relative;
		z-index: 1;
		display: inline; 
		width: 60%;
		height: 580px;
	}

	.cls-1, .cls-10 {
        fill: #795e36;
      }

      .cls-1, .cls-2, .cls-3 {
        stroke: #795e36;
      }

      .cls-1, .cls-10, .cls-11, .cls-12, .cls-2, .cls-3, .cls-8, .cls-9 {
        stroke-miterlimit: 10;
      }

      .cls-2, .cls-3, .cls-6, .cls-7, .cls-8, .cls-9 {
        stroke-width: 0.25px;
      }

      .cls-1, .cls-10, .cls-12, .cls-2, .cls-3, .cls-6, .cls-8 {
        fill-rule: evenodd;
      }

      .cls-2 {
        fill: #42362a;
      }

      .cls-3 {
        fill: #4f3f2e;
      }

      .cls-4 {
        fill: #fff;
      }

      .cls-5 {
        fill: #030304;
      }

      .cls-11, .cls-12, .cls-6, .cls-7 {
        fill: none;
      }

      .cls-6, .cls-7 {
        stroke: #ffdf7a;
        stroke-linejoin: bevel;
      }

      .cls-8, .cls-9 {
        fill: #884640;
        stroke: #997a4a;
      }

      .cls-10 {
        stroke: #957a50;
      }

      .cls-10, .cls-11, .cls-12 {
        stroke-width: 1.5px;
      }

      .cls-11, .cls-12 {
        stroke: #967a50;
      }
	
	.cls-1{
		.animated;
		&.active {
			fill: #f13836;
			stroke: #957a50;
		}
		&:focus {
			outline: none;
		}
		&:active {
			outline: none;
		}
	}
	
	g#logo>g:hover{

	}
}

.scheme_4 {
	
}

.scheme_3 {
	.cls-1, .cls-9 {
        fill: #795e36;
      }

      .cls-1, .cls-2, .cls-3 {
        stroke: #795e36;
      }

      .cls-1, .cls-10, .cls-11, .cls-2, .cls-3, .cls-7, .cls-8, .cls-9 {
        stroke-miterlimit: 10;
      }

      .cls-1, .cls-2, .cls-3, .cls-5, .cls-6, .cls-7, .cls-8 {
        stroke-width: 0.25px;
      }

      .cls-1, .cls-11, .cls-2, .cls-3, .cls-5, .cls-7, .cls-9 {
        fill-rule: evenodd;
      }

      .cls-2 {
        fill: #42362a;
      }

      .cls-3 {
        fill: #4f3f2e;
      }

      .cls-4 {
        fill: #fff;
      }

      .cls-10, .cls-11, .cls-5, .cls-6 {
        fill: none;
      }

      .cls-5, .cls-6 {
        stroke: #ffdf7a;
        stroke-linejoin: bevel;
      }

      .cls-7, .cls-8 {
        fill: #884640;
        stroke: #997a4a;
      }

      .cls-9 {
        stroke: #957a50;
      }

      .cls-10, .cls-11, .cls-9 {
        stroke-width: 1.5px;
      }

      .cls-10, .cls-11 {
        stroke: #967a50;
      }
}

.scheme_2 {
	.cls-1, .cls-14 {
        fill: #795e36;
      }

      .cls-1, .cls-2, .cls-3, .cls-4 {
        stroke: #795e36;
      }

      .cls-1, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-2, .cls-3, .cls-4 {
        stroke-miterlimit: 10;
      }

      .cls-1, .cls-10, .cls-11, .cls-12, .cls-13, .cls-2, .cls-3, .cls-4 {
        stroke-width: 0.25px;
      }

      .cls-1, .cls-10, .cls-12, .cls-14, .cls-16, .cls-2, .cls-3, .cls-4 {
        fill-rule: evenodd;
      }

      .cls-2 {
        fill: #42362a;
      }

      .cls-3 {
        fill: #4f3f2e;
      }

      .cls-10, .cls-11, .cls-15, .cls-16, .cls-4 {
        fill: none;
      }

      .cls-5 {
        fill: #fff;
      }

      .cls-6 {
        fill: #040000;
      }

      .cls-7 {
        fill: #fdfdfd;
      }

      .cls-8 {
        fill: #030304;
      }

      .cls-9 {
        fill: #fefefe;
      }

      .cls-10, .cls-11 {
        stroke: #ffdf7a;
        stroke-linejoin: bevel;
      }

      .cls-12, .cls-13 {
        fill: #884640;
        stroke: #997a4a;
      }

      .cls-14 {
        stroke: #957a50;
      }

      .cls-14, .cls-15, .cls-16 {
        stroke-width: 1.5px;
      }

      .cls-15, .cls-16 {
        stroke: #967a50;
      }
}

.scheme_1 {
	.cls-1, .cls-12 {
        fill: #795e36;
      }

      .cls-1, .cls-2, .cls-3 {
        stroke: #795e36;
      }

      .cls-1, .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-2, .cls-3 {
        stroke-miterlimit: 10;
      }

      .cls-10, .cls-11, .cls-2, .cls-3 {
        stroke-width: 0.25px;
      }

      .cls-1, .cls-10, .cls-12, .cls-14, .cls-2, .cls-3 {
        fill-rule: evenodd;
      }

      .cls-2 {
        fill: #42362a;
      }

      .cls-3 {
        fill: #4f3f2e;
      }

      .cls-4 {
        fill: #fff;
      }

      .cls-13, .cls-14, .cls-5 {
        fill: none;
      }

      .cls-6 {
        fill: #040000;
      }

      .cls-7 {
        fill: #222e38;
      }

      .cls-8 {
        fill: #fdfefd;
      }

      .cls-9 {
        fill: #fefefe;
      }

      .cls-10, .cls-11 {
        fill: #884640;
        stroke: #997a4a;
      }

      .cls-12 {
        stroke: #957a50;
      }

      .cls-12, .cls-13, .cls-14 {
        stroke-width: 1.5px;
      }

      .cls-13, .cls-14 {
        stroke: #967a50;
      }
}

.scheme_5 {
	.cls-1, .cls-9 {
        fill: #795e36;
      }

      .cls-1, .cls-2, .cls-3 {
        stroke: #795e36;
      }

      .cls-1, .cls-10, .cls-11, .cls-2, .cls-3, .cls-7, .cls-8, .cls-9 {
        stroke-miterlimit: 10;
      }

      .cls-1, .cls-2, .cls-3, .cls-5, .cls-6, .cls-7, .cls-8 {
        stroke-width: 0.25px;
      }

      .cls-1, .cls-11, .cls-2, .cls-3, .cls-5, .cls-7, .cls-9 {
        fill-rule: evenodd;
      }

      .cls-2 {
        fill: #42362a;
      }

      .cls-3 {
        fill: #4f3f2e;
      }

      .cls-4 {
        fill: #fff;
      }

      .cls-10, .cls-11, .cls-5, .cls-6 {
        fill: none;
      }

      .cls-5, .cls-6 {
        stroke: #ffdf7a;
        stroke-linejoin: bevel;
      }

      .cls-7, .cls-8 {
        fill: #884640;
        stroke: #997a4a;
      }

      .cls-9 {
        stroke: #957a50;
      }

      .cls-10, .cls-11, .cls-9 {
        stroke-width: 1.5px;
      }

      .cls-10, .cls-11 {
        stroke: #967a50;
      }
}


/*media*/ 

@media screen and (max-width: 1439px) {
	.scheme .hover-plate .hover-plate__text {
		padding-left: 10px;
	}
}

@media screen and (max-width: 1365px) {
	.scheme-filters .input-search {
		height: 44px;
		font-size: 18px;
		line-height: 44px;
		padding: 0 25px;
	}
	
	.scheme {
		svg {
			height: 450px;
		}
		.hover-plate {
			.hover-plate__top-line {
				flex-direction: column;
				align-items: center;
			}
			
			.hover-plate__logo img {
				height: auto;
				width: 100%;
			}
			
			.hover-plate__text{
				padding:  8px 0 0 0;
				text-align: center;
			}
			
			.hover-plate__name {
				font-size: 12px;
				margin-bottom: 3px;
			}
			
			.contact {
				padding-left: 0;
				font-size: 10px;
				&:before {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 1279px) {
	.scheme {
		svg {
			height: 417px;
		}
		.hover-plate .hover-plate__close {
			display: flex;
		}
	}
	.inner-page_scheme .tabs {
		padding: 70px 0;
	}
	
	.inner-page_scheme .tabs .tabs__buttons {
		bottom: 70px;
	}
	
	.inner-page_scheme .tabs .tabs__button {
		width: 44px;
		height: 44px;
		line-height: 44px;
	}
	
	.zoom-svg {
		height: 44px;
		line-height: 44px;
		width: 44px;
	}
	
	.zoom-svg-out {
		line-height: 38px;
	}
}

@media screen and (max-width: 1023px) {
	.scheme-filters {
		padding: 50px 10.4%;
	}
	.scheme {
		&:after {
			margin: -15px 0 0 -1rem;
		}
		svg {
			height: 310px;
		}
		.hover-plate {
			padding-bottom: 15px;
			.hover-plate__wr {
				padding: 5px 5px 10px;
			}
			.button {
				font-size: 10px;
				padding: 1px 10px 3px;
			}
		}
	}
	
	.search-form .input-search {
		&.is-open {
			border-radius: 25px 25px 0 0;
		}
	}

	.ui-menu {
		border-radius: 0 0 25px 25px;
		padding: 7px 0;
		.ui-menu-item {
			font-size: 14px;
			padding: 5px 25px;
		}
	}
}

@media screen and (max-width: 767px) {
	.inner-page_scheme {
		.tabs {
			padding: 50px 0;
		}
		
		.tabs .tabs__buttons {
			left: 20px;
			bottom: 50px;
		}
		
		.controls {
			right: 20px;
		}
	}
	
	
	.scheme-filters {
		padding:  35px 20px;
	}
	
	.scheme-filters {
		align-items: center;
		.select2-container {
			margin-right: 0;
		}
	}
	
	.scheme {
		padding: 0 20px;
	}
	
	.inner-page_scheme .select2-container {
		margin-bottom: 0;
	}
	
	.scheme .hover-plate.hover-plate_bottom2 {
		margin-top: 9%;
	}	

	.scheme .hover-plate.hover-plate_bottom3 {
		margin-top: 8%;
	}
	
	.scheme .hover-plate.hover-plate_bottom3a {
		margin-top: 7%;
	}
	
	.scheme .hover-plate.hover-plate_bottom5 {
		margin-top: 30%;
	}
}

@media screen and (max-width: 639px) {
	.scheme-filters {
		flex-direction: column-reverse;
	}
	
	.scheme-filters .input-search {
		width: 250px;
		margin-bottom: 15px;
	}
	
	.inner-page_scheme .tabs .drag-container {
		width: 120%;
		left: -10%;
	}
	
	.scheme svg {
		width: 100%;
	}
	
	.inner-page_scheme .tabs .tabs__buttons {
		top: 50px;
		bottom: auto;
	}
	
	.inner-page_scheme .controls {
		box-shadow: none;
		top: -45px;
		right: 5px;
		bottom: auto;
	}
	
	.inner-page_scheme .tabs .tabs__button {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	
	.zoom-svg {
		height: 30px;
		line-height: 30px;
		width: 30px;
	}
	
	.zoom-svg-out {
		line-height: 24px;
	}

}