.services-screen {
	background: url(../images/services.jpg) no-repeat center;
	background-size: cover;
	position: relative;
}

.swiper-services {
	position: relative;
}

.simple-plate {
	.flex-column_center;
	height: 137px;
	text-align: center;
	box-sizing: border-box;
	background: rgb(255, 255, 255);
	padding: 20px;
	opacity: 0;
	.animated;
	-moz-transition: background 0.3s ease-in-out 0.1s;
	-webkit-transition: background 0.3s ease-in-out 0.1s;
	transition: background 0.3s ease-in-out 0.1s;
	&:hover {
		background: rgb(0, 0, 0);
	}
	&.visible {
		.visible
	}
}

.swiper-slide:nth-child(2n) .simple-plate {
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
}

.swiper-slide:nth-child(3n) .simple-plate {
    -moz-transition: all 0.3s ease-in-out 0.2s;
	-webkit-transition: all 0.3s ease-in-out 0.2s;
	transition: all 0.3s ease-in-out 0.2s;
	-moz-transition: background 0.3s ease-in-out 0.1s;
	-webkit-transition: background 0.3s ease-in-out 0.1s;
	transition: background 0.3s ease-in-out 0.1s;
}

.simple-plate
.simple-plate__caption {
	font-size: 16px;
	margin-bottom: 8px;
}

.simple-plate:hover .simple-plate__caption {
	color: rgb(255,255,255);
}

.simple-plate__description {
	font-size: 14px;
	color: rgb(121, 95, 49);
}

.simple-plate:hover .simple-plate__description {
	color: rgb(230, 193, 121);
}

/*media*/ 

@media screen and (max-width: 1921px) {
		
}

@media screen and (max-width: 1439px) {
	
	
}

@media screen and (max-width: 1279px) {
	.services-screen .wrapper {
		padding-right: 0;
	}
	
	.services-screen .swiper-container {
		margin: -46px;
	}
	
	.services-screen .swiper-only-mobile .swiper-wrapper {
		margin: 0;
	}
	
	.simple-plate {
		height: 90px;
		padding: 10px;
	}
	
	.simple-plate__caption {
		font-size: 14px;
		margin-bottom: 3px;
	}
	
	.simple-plate__description {
		font-size: 12px;
	}
}

@media screen and (max-width: 1023px) {
	.services-screen .swiper-container {
		margin: -20px;
	}
	
	.services-screen .swiper-only-mobile .swiper-wrapper {
		height: 310px;
	}
	
	.services-screen .swiper-only-mobile .swiper-slide {
		height: 90px;
		padding: 0;
	}
}

@media screen and (max-width: 767px) {
	
	.services-screen .wrapper {
		padding-right: 20px;
	}
	
	.services-screen .columns__right-column {
		padding-top: 40px;
	}
	
	.services-screen .swiper-only-mobile .swiper-wrapper {
		height: auto;
	}
	
	.services-screen .swiper-only-mobile .swiper-slide {
		height: auto;
		padding: 0;
	}
	
	.simple-plate {
		height: auto;
		max-width: 170px;
		margin: 0 auto;
		padding: 20px 10px;
	}

}


