/*shares-events*/

.shares-events {
	background: #ece7e4;
	position: relative;
}

.shares-events .columns__left-column {
    padding-top: 47px;
}
	
.photo-info {
	display: block;
	background-color: rgb(255, 255, 255);
	height: 429px;
	font-size: 24px;
	color: rgb(121, 95, 49);
	position: relative;
	&:before {
		content: "";
		background: url(../../images/icons/arrow-black.svg) no-repeat center;
		background-size: contain;
		width: 10px;
		height: 5px;
		position: absolute;
		right: 40px;
		bottom: 40px;
		
	}
	&:hover{
		box-shadow: @box-shadow-hover;
		color: rgb(0, 0, 0);
	}
	.photo-info__photo {
		width: 100%;
		height: 183px;
		&.photo-info__photo_maltina{
			background: url(../images/news-maltina.jpg) no-repeat center;
			background-size: cover;
		}
		&.photo-info__photo_isabel{
			background: url(../images/news-isabel.jpg) no-repeat center;
			background-size: cover;
		}
	}
	.photo-info__info {
		box-sizing: border-box;
		padding: 40px;
	}
	&.photo-info_big {
		background: url(../images/news-holiday.jpg) no-repeat center;
		background-size: cover;
	}
}

.shares-events .swiper-container {
    .animated;
	.animated_right;
	&.visible {
		.visible
	}
}

.swiper-shares .swiper-button-next, .swiper-shares .swiper-button-prev {
    top: auto;
	bottom: 0;
	left: 0;
}

.swiper-shares .swiper-button-prev:hover,
.swiper-shares .swiper-button-next:hover {
  background-color: rgb(255, 255, 255);
	border: 3px solid rgb(255, 255, 255);
}

.swiper-shares .swiper-button-next {
	right: auto;
	left: 85px;
}

.swiper-shares .swiper-slide {
	width: 273px;
}

.swiper-shares .swiper-slide.swiper-slide_big {
	width: 426px;
}



/*media*/ 

@media screen and (max-width: 1439px) {
	
    .swiper-shares .swiper-button-next {
		left: 75px;
	}
}

@media screen and (max-width: 1365px) { 
	
	.photo-info {
		height: 340px;
		font-size: 20px;
		.photo-info__photo {
			width: 100%;
			height: 153px;
		}
		.photo-info .photo-info__info {
			padding: 35px;
		}
	}
	
	.swiper-shares .swiper-slide {
		width: 230px;
	}
	
	.swiper-shares .swiper-slide.swiper-slide_big {
		width: 340px;
	}

}

@media screen and (max-width: 1279px) {
	
}

@media screen and (max-width: 1023px) {
	.photo-info:hover{
		box-shadow: @box-shadow-hover-small;
	}
	
}

@media screen and (max-width: 767px) {
	.swiper-shares .swiper-button-next:hover, .swiper-shares .swiper-button-prev:hover {
		background-color: #fff;
		border: 1px solid #fff;
	}
	
	.photo-info {
		height: 280px;
		font-size: 18px;
		&:before {
			right: 20px;
			bottom: 20px;
		}
	}
	
	.photo-info .photo-info__photo {
		height: 120px;
	}
	
	.photo-info .photo-info__info {
		padding: 20px;
	}
	
	.swiper-shares .swiper-slide {
		width: 200px;
	}
	
	.swiper-shares .swiper-slide.swiper-slide_big {
		width: 280px;
	}
	
	.swiper-shares .swiper-button-next, .swiper-shares .swiper-button-prev {
		top: 255px;
		bottom: auto;
		left: calc(50% - 40px);
	}
	
	.swiper-shares .swiper-button-next {
		left: calc(50% + 5px);
	}
}

@media screen and (max-width: 639px) {
	
	
}

