/*shares-events*/

.shares-events {
	background: #ece7e4;
	padding-top: 115px;
	padding-bottom: 115px;
}

.photo-info {
	display: block;
	background-color: rgb(255, 255, 255);
	height: 429px;
}

.shares-events .swiper-slide {
	width: 270px;
}

.shares-events .swiper-slide.swiper-slide_big {
	width: 420px;
}

//.photo-info_big {
//	width: 500px;
//}
//
//.swiper-slide {
//  width: auto !important 
//}




/*media*/ 

@media screen and (min-width: 1921px) {
    
}

@media screen and (max-width: 1279px) { 
	
	
}

@media screen and (max-width: 1023px) {
	
	
}

@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 639px) {
	
	
}

