.sight-screen {
	box-sizing: border-box;
	background: #171717;
	position: relative;
}

.sight-screen .swiper-wrapper {
    height: 630px;
}

.sight-screen .swiper-slide {
	height: 300px;
}

.sight-screen .swiper-button-prev, .sight-screen .swiper-button-next {
    display: none;
}

.sight__item-wr {
    height: 300px;
    box-sizing: border-box;
    background: url(../images/sight-gingerbread.jpg) no-repeat center;
    background-size: 100% 100%;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
	opacity: 0;
	transition: background 0.2s linear;
	&:hover{
		background-size: 110% 110%;
	}
	&.visible {
		.visible
	}
}

.sight__item:nth-child(2n) .sight__item-wr{
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out 0.1s;
}

.sight__item:nth-child(3n) .sight__item-wr {
    -moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out 0.2s;
}


.sight__item_double .sight__item-wr{
	height: 135px;
}

.sight__item_double .sight__item-wr:first-child{
	margin-bottom: 30px;
}

.sight__item-wr_samovar {
	background: url(../images/sight-samovar.jpg) no-repeat center;
	background-size: 100% 100%;
	&:hover{
		background-size: 110% 110%;
	}
}

.sight__item-wr_weapons {
	background: url(../images/sight-weapons.jpg) no-repeat center;
	background-size: 100% 100%;
	&:hover{
		background-size: 110% 110%;
	}
}

.sight__item-wr_kremlin {
	background: url(../images/sight-kremlin.jpg) no-repeat center;
	background-size: 100% 100%;
	&:hover{
		background-size: 110% 110%;
	}
}

.sight__item-wr_park {
	background: url(../images/sight-park.jpg) no-repeat center;
	background-size: 100% 100%;
	&:hover{
		background-size: 110% 110%;
	}
}

.sight__item-wr_glade {
	background: url(../images/sight-glade.jpg) no-repeat center;
	background-size: 100% 100%;
	&:hover{
		background-size: 110% 110%;
	}
}

.sight__item-wr_temple {
	background: url(../images/sight-temple.jpg) no-repeat center;
	background-size: 100% 100%;
	&:hover{
		background-size: 110% 110%;
	}
}

.sight__item-wr_victory {
	background: url(../images/sight-victory.jpg) no-repeat center;
	background-size: 100% 100%;
	&:hover{
		background-size: 110% 110%;
	}
}

.sight__caption {
	font: 400 36px/1 "JOURNALISM";
	color: rgb(255, 255, 255);
	margin-bottom: 12px;
}

.sight__item_double .sight__caption {
  font-size: 16px;
}

.sight__time {
	font-size: 12px;
	color: rgb(229, 197, 154);
}




/*media*/ 

@media screen and (max-width: 1823px) {
	.sight__caption {
		font-size: 30px;
	}
}

@media screen and (max-width: 1439px) {
	.sight-screen .swiper-wrapper {
		height: 550px;
	}

	.sight-screen .swiper-slide {
		height: 260px;
	}
	
	.sight__item-wr {
		height: 260px;
		padding: 25px 30px 20px;
	}
	
	.sight__item_double .sight__item-wr {
		height: 115px;
		.sight__caption {
			margin-bottom: 3px;
		}
	}
	
}

@media screen and (max-width: 1279px) {
	.sight-screen .wrapper {
		padding-right: 0;
	}
	
	.sight__caption {
		font-size: 24px;
	}
	
	.sight-screen .swiper-wrapper {
		height: 420px;
	}

	.sight-screen .swiper-slide {
		height: 200px;
	}
	
	.sight__item-wr {
		height: 200px;
		padding: 10px 15px 10px;
	}
	
	.sight__item_double .sight__item-wr {
		height: 90px;
	}
	
	.sight__item_double .sight__item-wr:first-child {
		margin-bottom: 20px;
	}
	
	.sight__item_double .sight__caption {
		font-size: 14px;
	}
}

@media screen and (max-width: 1023px) {
	
	
}

@media screen and (max-width: 767px) {
	.sight-screen .wrapper {
		padding-right: 20px;
	}
	
	.sight-screen .columns__right-column {
		padding-top: 40px;
	}
	
}

@media screen and (max-width: 639px) {
	.sight-screen .swiper-wrapper {
		height: 200px;
	}
	
	.sight-screen .swiper-button-next, .sight-screen .swiper-button-prev {
		display: flex;
		bottom: 80px;
		top: auto;
	}
}

@media screen and (max-width: 450px) {
	.sight__item-wr {
		width: 250px;
		margin: 0 auto;
	}
}
	