	<div class="advantages-screen">
		<div class="wrapper">
			<div class="advantages flex">
				<div class="advantages__item advantages__item_workshop">
					<div class="advantages__icon"></div>
					<div class="advantages__caption">Собственный цех</div>
					<div class="advantages__text">собственный цех, отсутствие посредников и максимум внимания качеству продукта</div>
				</div>
				<div class="advantages__item advantages__item_volume">
					<div class="advantages__icon"></div>
					<div class="advantages__caption">250 000 м&sup2; за 1 год</div>
					<div class="advantages__text">нам доверяют частные домовладельцы и владельцы коммерческих объектов</div>
				</div>
				<div class="advantages__item advantages__item_price">
					<div class="advantages__icon"></div>
					<div class="advantages__caption">На 10% дешевле</div>
					<div class="advantages__text">вы заплатите меньше, чем ожидаете, на 10% дешевле, чем у&nbsp;конкурентов</div>
				</div>
				<div class="advantages__item advantages__item_guarantee">
					<div class="advantages__icon"></div>
					<div class="advantages__caption">По договору</div>
					<div class="advantages__text">гарантия производителя полотен - 10&nbsp;лет, гарантия на&nbsp;установку потолка - 3&nbsp;года</div>
				</div>
				<div class="advantages__item advantages__item_shedule">
					<div class="advantages__icon"></div>
					<div class="advantages__caption">Без выходных</div>
					<div class="advantages__text">установка в&nbsp;выходные или праздники, а также вечером в&nbsp;нерабочее время.</div>
				</div>
				<div class="advantages__item advantages__item_quality">
					<div class="advantages__icon"></div>
					<div class="advantages__caption">менее 1% Брака</div>
					<div class="advantages__text">монтируем качественно, а если обнаружен дефект, устраним в&nbsp;срок от&nbsp;24 до&nbsp;72&nbsp;часов</div>
				</div>
			</div>
		</div>
	</div> 