<div class="entertainment-screen padding-big">
	<div class="wrapper">
		<div class="caption-center">
			<div class="caption-center__background">Досуг</div>
			<div class="caption-center__small-caption">Развлечения</div>
		</div>
		<div class="swiper-entertainment">
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="swiper-slide-wr">
							<a href="#" class="entertainment entertainment_children">
								<div>
									<div class="entertainment__type">Детский центр</div>
									<div class="entertainment__caption">Jumanji</div>
									<div class="entertainment__description">
										<ul>
											<li>Лабиринт </li>
											<li>Игровые аппараты</li>
											<li>Яркие детские праздники с аниматорами</li>
										</ul>
									</div>
								</div>
								<div class="bottom-line">
									<div class="bottom-line__stage">5 этаж</div>
									<div class="bottom-line__icon"></div>
								</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="swiper-slide-wr">
							<a href="#" class="entertainment entertainment_aquarium">
								<div>
									<div class="entertainment__type">Досуг</div>
									<div class="entertainment__caption">Аквариум</div>
									<div class="entertainment__description">Объём  аквариума более 350 кубических метров. Наблюдатели бесплатно могут видеть не весь аквариум, а только половину его объёма. Чтобы увидеть больше придётся заказать столик в ресторане Марлин.</div>	
								</div>
								<div class="bottom-line">
									<div class="bottom-line__stage">5 этаж</div>
									<div class="bottom-line__icon"></div>
								</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="swiper-slide-wr">
							<a href="#" class="entertainment entertainment_film">
								<div>
									<div class="entertainment__type">Кинотеатр</div>
									<div class="entertainment__caption">Киносити</div>
									<div class="entertainment__description">Новый кинотеатр «КИНО СИТИ» на шесть залов и 850 посадочных мест общей площадью более 2 тысяч квадратных метров. В фойе кинотеатра расположены бар поп-корна и уютное кинокафе с неповторимым видом на центральную площадь Тулы, через которые предстаёт всё тот же аквариум, но с обратной стороны.</div>
								</div>
								<div class="bottom-line">
									<div class="bottom-line__stage">5 этаж</div>
									<div class="bottom-line__icon"></div>
								</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="swiper-slide-wr">
							<a href="#" class="entertainment entertainment_aquarium">
								<div>
									<div class="entertainment__type">Досуг</div>
									<div class="entertainment__caption">Аквариум</div>
									<div class="entertainment__description">Объём  аквариума более 350 кубических метров. Наблюдатели бесплатно могут видеть не весь аквариум, а только половину его объёма. Чтобы увидеть больше придётся заказать столик в ресторане Марлин.</div>
								</div>
								<div class="bottom-line">
									<div class="bottom-line__stage">5 этаж</div>
									<div class="bottom-line__icon"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>