<div class="events-screen no-wrapper">
	<div class="small-caption">Афиша</div>
	<a href="#" class="button button_red">Все сеансы</a>
	<div class="swiper-events">
		<div class="swiper-container">
			<div class="swiper-wrapper">
			  <div class="swiper-slide">
				<a href="#" class="film">
					<div class="film__poster"></div>
					<div class="film__caption"></div>
					<div class="film__ticket"></div>
				</a>
			  </div>
			  <div class="swiper-slide">
				<a href="#" class="photo-info photo-info_big"></a>
			  </div>
			  <div class="swiper-slide">
				<a href="#" class="photo-info"></a>
			  </div>
			  <div class="swiper-slide">
				<a href="#" class="photo-info"></a>
			  </div>
			  <div class="swiper-slide">
				<a href="#" class="photo-info"></a>
			  </div>
			</div>
			<!-- Add Arrows -->
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>
</div>