<div class="events-screen padding-big">
	<div class="caption-center">
		<div class="caption-center__background">Кинотеатр</div>
		<div class="caption-center__small-caption">
			<div>Афиша</div>
			<a href="#" class="caption-center__button button button_red">Все сеансы</a>
		</div>
	</div>
	<div class="no-wrapper">
		<div class="swiper-events">
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="#" class="film">
							<img class="film__poster" src="images/film-1.jpg" alt="">
							<div class="film__caption">Идеальный пациент</div>
							<div class="film__ticket">Купить билет</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="film">
							<img class="film__poster" src="images/film-2.jpg" alt="">
							<div class="film__caption">Идеальный пациент</div>
							<div class="film__ticket">Купить билет</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="film">
							<img class="film__poster" src="images/film-3.jpg" alt="">
							<div class="film__caption">Идеальный пациент</div>
							<div class="film__ticket">Купить билет</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="film">
							<img class="film__poster" src="images/film-4.jpg" alt="">
							<div class="film__caption">Идеальный пациент</div>
							<div class="film__ticket">Купить билет</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="film">
							<img class="film__poster" src="images/film-5.jpg" alt="">
							<div class="film__caption">Идеальный пациент</div>
							<div class="film__ticket">Купить билет</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="film">
							<img class="film__poster" src="images/film-1.jpg" alt="">
							<div class="film__caption">Идеальный пациент</div>
							<div class="film__ticket">Купить билет</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="film">
							<img class="film__poster" src="images/film-1.jpg" alt="">
							<div class="film__caption">Идеальный пациент</div>
							<div class="film__ticket">Купить билет</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>