<div class="exclusive-screen">
	<div class="wrapper">
		<div class="exclusive-screen__text">
			<h2 class="caption">Эксклюзивные натяжные потолки</h2>
			<p>Дизайнерские предложения различны для помещений, имеющих определённое назначение, спроектируют великолепную обстановку: расслабляющую в спальне, восстанавливающую в гостиной, возбуждающую аппетит в кухне, комфортную в ванной<span class="more-info">... <span>Подробнее</span></span></p>
			<p>Дизайнерские предложения различны для помещений, имеющих определённое назначение, спроектируют великолепную обстановку: расслабляющую в спальне, восстанавливающую в гостиной, возбуждающую аппетит в кухне, комфортную в ванной</p>
			<p>Дизайнерские предложения различны для помещений, имеющих определённое назначение, спроектируют великолепную обстановку: расслабляющую в спальне, восстанавливающую в гостиной, возбуждающую аппетит в кухне, комфортную в ванной</p>
		</div>
		<div class="exclusive">
			<div class="exclusive__slide flex">
				<div class="exclusive__item exclusive__item_link">
					<a href="#" class="exclusive__inner">
						<div class="exclusive__text">
							<div class="exclusive__caption">«Звёздное небо»</div>
							<div class="exclusive__price">от 14 950 руб./м&sup2;</div>
						</div>
					</a>
				</div>
				<div class="exclusive__item">
					<div class="exclusive__inner"></div>
				</div>
				<div class="exclusive__item exclusive__item_link">
					<a href="#" class="exclusive__inner">
						<div class="exclusive__text">
							<div class="exclusive__caption">Резной Apply</div>
							<div class="exclusive__price">от 1 460 руб./м&sup2;</div>
						</div>
					</a>
				</div>
				<div class="exclusive__item">
					<div class="exclusive__inner"></div>
				</div>
				<div class="exclusive__item exclusive__item_link">
					<a href="#" class="exclusive__inner">
						<div class="exclusive__text">
							<div class="exclusive__caption">С фотопечатью</div>
							<div class="exclusive__price">от 1 800 руб./м&sup2;</div>
						</div>
					</a>
				</div>
				<div class="exclusive__item">
					<div class="exclusive__inner"></div>
				</div>
			</div>
			<div class="exclusive__slide flex">
				<div class="exclusive__item exclusive__item_link">
					<a href="#" class="exclusive__inner">
						<div class="exclusive__text">
							<div class="exclusive__caption">«Звёздное небо»</div>
							<div class="exclusive__price">от 14 950 руб./м&sup2;</div>
						</div>
					</a>
				</div>
				<div class="exclusive__item">
					<div class="exclusive__inner"></div>
				</div>
				<div class="exclusive__item exclusive__item_link">
					<a href="#" class="exclusive__inner">
						<div class="exclusive__text">
							<div class="exclusive__caption">Резной Apply</div>
							<div class="exclusive__price">от 1 460 руб./м&sup2;</div>
						</div>
					</a>
				</div>
				<div class="exclusive__item">
					<div class="exclusive__inner"></div>
				</div>
				<div class="exclusive__item exclusive__item_link">
					<a href="#" class="exclusive__inner">
						<div class="exclusive__text">
							<div class="exclusive__caption">С фотопечатью</div>
							<div class="exclusive__price">от 1 800 руб./м&sup2;</div>
						</div>
					</a>
				</div>
				<div class="exclusive__item">
					<div class="exclusive__inner"></div>
				</div>
			</div>
			<div class="exclusive__slide flex">
				<div class="exclusive__item exclusive__item_link">
					<a href="#" class="exclusive__inner">
						<div class="exclusive__text">
							<div class="exclusive__caption">«Звёздное небо»</div>
							<div class="exclusive__price">от 14 950 руб./м&sup2;</div>
						</div>
					</a>
				</div>
				<div class="exclusive__item">
					<div class="exclusive__inner"></div>
				</div>
				<div class="exclusive__item exclusive__item_link">
					<a href="#" class="exclusive__inner">
						<div class="exclusive__text">
							<div class="exclusive__caption">Резной Apply</div>
							<div class="exclusive__price">от 1 460 руб./м&sup2;</div>
						</div>
					</a>
				</div>
				<div class="exclusive__item">
					<div class="exclusive__inner"></div>
				</div>
				<div class="exclusive__item exclusive__item_link">
					<a href="#" class="exclusive__inner">
						<div class="exclusive__text">
							<div class="exclusive__caption">С фотопечатью</div>
							<div class="exclusive__price">от 1 800 руб./м&sup2;</div>
						</div>
					</a>
				</div>
				<div class="exclusive__item">
					<div class="exclusive__inner"></div>
				</div>
			</div>
		</div>
	</div>
</div>