<div class="figures-screen">
	<div class="wrapper">
		<div class="figures flex">
			<div class="figures__item">
				<div class="figures__quantity">154</div>
				<div class="figures__description">Сотрудника в&nbsp;команде</div>
			</div>
			<div class="figures__item">
				<div class="figures__quantity">3600</div>
				<div class="figures__description">Дилеров<br>в России</div>
			</div>
			<div class="figures__item">
				<div class="figures__quantity">21</div>
				<div class="figures__description">Монтажная<br>бригада</div>
			</div>
			<div class="figures__item">
				<div class="figures__quantity">75000</div>
				<div class="figures__description">Потолков сделано  за 10 лет работы</div>
			</div>
		</div>
	</div>
</div>