<footer class="no-wrapper">
	<div class="footer-bg"></div>
	<div class="footer-content flex">
		<div class="footer-info">
			<a href="/" class="footer-logo"></a>
			<div class="footer-info__medium-text">ТЦ "Гостиный двор" является одним из самых больших торговых центров в Туле.</div>
			<div class="footer-info__small-text">Площадь составляет 51 000 кв.м, здесь есть все для шоппинга и развлечений! Торговый центр находится в самом сердце города, в 100 м от Тульского Кремля. </div>
			<a href="#" class="button button_red">Подробнее</a>
		</div>
		<a href="#" class="scheme-link">
			<div class="scheme-link__icon"></div>
			<div>Схема ТРЦ</div>
		</a>
		<div class="footer-contacts">
			<div class="footer-contacts__line">
				<div class="footer-contacts__contact shedule">Ежедневно с 10:00 до 22:00</div>
				<a href="#" class="social-icon social-icon_vk"></a>
			</div>
			<div class="footer-contacts__line">
				<a href="tel:74957272424" class="footer-contacts__contact phone">+7 495 727 24 24</a>
				<a href="#" class="social-icon social-icon_insta"></a>
			</div>
			<div class="footer-contacts__line">
				<div class="footer-contacts__contact address">г. Тула, улица Советская, дом 47</div>
				<a href="#" class="social-icon social-icon_fb"></a>
			</div>
			<a href="#order" data-fancybox="" class="footer-contacts__button button button_biege">Обратная связь</a>
		</div>
	</div>
	<div class="footer-bottom flex">
		<div class="copyright">Гостинный двор &copy; 2019 Все права защищены</div> 
		<div class="developers">Разработано c <span></span>в <a href="#">Advensys</a></div>
	</div>
</footer>
