<div class="swiper-products swiper-only-mobile">
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">

			</div>
			<div class="swiper-slide">

			</div>
			<div class="swiper-slide">
				<div class="goods-plate">
					<a href="" class="goods-plate__photo">
						<img src="images/goods/good1.jpg" alt="">
					</a>
					<div class="goods-plate__text">
						<a href="" class="goods-plate__caption">Дубленка Topshop</a>
						<div class="goods-plate__detail">Размеры: 40, 42</div>
						<div class="goods-plate__detail">Состав: полиэстр</div>
						<div class="goods-plate__detail">Артикул: TO029EWHLYL1</div>
						<div class="goods-plate__bottom flex_between">
							<div class="goods-plate__price">30 490 руб</div>
							<div class="goods-plate__reserv">В резерв</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="goods-plate">
					<a href="" class="goods-plate__photo">
						<img src="images/goods/good1.jpg" alt="">
					</a>
					<div class="goods-plate__text">
						<a href="" class="goods-plate__caption">Дубленка Topshop</a>
						<div class="goods-plate__detail">Размеры: 40, 42</div>
						<div class="goods-plate__detail">Состав: полиэстр</div>
						<div class="goods-plate__detail">Артикул: TO029EWHLYL1</div>
						<div class="goods-plate__bottom flex_between">
							<div class="goods-plate__price">30 490 руб</div>
							<div class="goods-plate__reserv">В резерв</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="goods-plate">
					<a href="" class="goods-plate__photo">
						<img src="images/goods/good1.jpg" alt="">
					</a>
					<div class="goods-plate__text">
						<a href="" class="goods-plate__caption">Дубленка Topshop</a>
						<div class="goods-plate__detail">Размеры: 40, 42</div>
						<div class="goods-plate__detail">Состав: полиэстр</div>
						<div class="goods-plate__detail">Артикул: TO029EWHLYL1</div>
						<div class="goods-plate__bottom flex_between">
							<div class="goods-plate__price">30 490 руб</div>
							<div class="goods-plate__reserv">В резерв</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="goods-plate">
					<a href="" class="goods-plate__photo">
						<img src="images/goods/good1.jpg" alt="">
					</a>
					<div class="goods-plate__text">
						<a href="" class="goods-plate__caption">Дубленка Topshop</a>
						<div class="goods-plate__detail">Размеры: 40, 42</div>
						<div class="goods-plate__detail">Состав: полиэстр</div>
						<div class="goods-plate__detail">Артикул: TO029EWHLYL1</div>
						<div class="goods-plate__bottom flex_between">
							<div class="goods-plate__price">30 490 руб</div>
							<div class="goods-plate__reserv">В резерв</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="goods-plate">
					<a href="" class="goods-plate__photo">
						<img src="images/goods/good1.jpg" alt="">
					</a>
					<div class="goods-plate__text">
						<div class="goods-plate__caption">Дубленка Topshop</div>
						<div class="goods-plate__detail">Размеры: 40, 42</div>
						<div class="goods-plate__detail">Состав: полиэстр</div>
						<div class="goods-plate__detail">Артикул: TO029EWHLYL1</div>
						<div class="goods-plate__bottom flex_between">
							<div class="goods-plate__price">30 490 руб</div>
							<div class="goods-plate__reserv">В резерв</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="goods-plate">
					<a href="" class="goods-plate__photo">
						<img src="images/goods/good1.jpg" alt="">
					</a>
					<div class="goods-plate__text">
						<a href="" class="goods-plate__caption">Дубленка Topshop</a>
						<div class="goods-plate__detail">Размеры: 40, 42</div>
						<div class="goods-plate__detail">Состав: полиэстр</div>
						<div class="goods-plate__detail">Артикул: TO029EWHLYL1</div>
						<div class="goods-plate__bottom flex_between">
							<div class="goods-plate__price">30 490 руб</div>
							<div class="goods-plate__reserv">В резерв</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="goods-plate">
					<a href="" class="goods-plate__photo">
						<img src="images/goods/good1.jpg" alt="">
					</a>
					<div class="goods-plate__text">
						<a href="" class="goods-plate__caption">Дубленка Topshop</a>
						<div class="goods-plate__detail">Размеры: 40, 42</div>
						<div class="goods-plate__detail">Состав: полиэстр</div>
						<div class="goods-plate__detail">Артикул: TO029EWHLYL1</div>
						<div class="goods-plate__bottom flex_between">
							<div class="goods-plate__price">30 490 руб</div>
							<div class="goods-plate__reserv">В резерв</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="goods-plate">
					<a href="" class="goods-plate__photo">
						<img src="images/goods/good1.jpg" alt="">
					</a>
					<div class="goods-plate__text">
						<a href="" class="goods-plate__caption">Дубленка Topshop</a>
						<div class="goods-plate__detail">Размеры: 40, 42</div>
						<div class="goods-plate__detail">Состав: полиэстр</div>
						<div class="goods-plate__detail">Артикул: TO029EWHLYL1</div>
						<div class="goods-plate__bottom flex_between">
							<div class="goods-plate__price">30 490 руб</div>
							<div class="goods-plate__reserv">В резерв</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="goods-plate">
					<a href="" class="goods-plate__photo">
						<img src="images/goods/good1.jpg" alt="">
					</a>
					<div class="goods-plate__text">
						<a href="" class="goods-plate__caption">Дубленка Topshop</a>
						<div class="goods-plate__detail">Размеры: 40, 42</div>
						<div class="goods-plate__detail">Состав: полиэстр</div>
						<div class="goods-plate__detail">Артикул: TO029EWHLYL1</div>
						<div class="goods-plate__bottom flex_between">
							<div class="goods-plate__price">30 490 руб</div>
							<div class="goods-plate__reserv">В резерв</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="goods-plate">
					<a href="" class="goods-plate__photo">
						<img src="images/goods/good1.jpg" alt="">
					</a>
					<div class="goods-plate__text">
						<a href="" class="goods-plate__caption">Дубленка Topshop</a>
						<div class="goods-plate__detail">Размеры: 40, 42</div>
						<div class="goods-plate__detail">Состав: полиэстр</div>
						<div class="goods-plate__detail">Артикул: TO029EWHLYL1</div>
						<div class="goods-plate__bottom flex_between">
							<div class="goods-plate__price">30 490 руб</div>
							<div class="goods-plate__reserv">В резерв</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>