<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/themes/black-tie/jquery-ui.css">
    <link rel="stylesheet" href="css/main.css"> 
    <title>Торгово-развлекательный центр "Гостиный двор"</title>
    <script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/main.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGXyaQB0kgOP4xNdMt2ZTamQsYSqx6kZY&callback=initMap"
	type="text/javascript"></script>
</head>