<header class="header">
	<a href="/" class="logo mobile-logo"></a>
	<div class="for-mobile flex_between">
		<div class="header__left-part flex">
			<div class="header__shedule shedule">Ежедневно с 10:00 до 22:00</div>
			<a href="#search" data-fancybox="" class="search-button">Поиск по сайту</a>
		</div>
		<div class="header__right-part flex">
			<a href="tel:74957272424" class="phone">+7 495 727 24 24</a>
			<a href="" class="header__button button button_white">Обратная связь</a>
			<a href="#" class="header__link">О ТРЦ</a>
			<a href="#" class="header__link">Схема ТРЦ</a>
			<div class="burger">
				<span></span>
			</div>
		</div>
	</div>
</header>