<div class="main-screen">
	<div class="mosaic flex">
		<div class="mosaic__group mosaic__group_first flex">
			<div class="mosaic__column">
				<div class="mosaic__item-wr">
					<a href="#" class="mosaic__item mosaic__item_offprice"></a>
				</div>
			</div>
			<div class="mosaic__column">
				<div class="mosaic__item-wr">
					<a href="#" class="mosaic__item mosaic__item_ostin"></a>
				</div>
				<div class="mosaic__item-wr">
					<a href="#" class="mosaic__item mosaic__item_sale"></a>
				</div>
			</div>
		</div>
		<div class="mosaic__group mosaic__group_second flex">
			<div class="mosaic__column">
				<div class="mosaic__item-wr">
					<a href="#" class="mosaic__item mosaic__item_summer"></a>
				</div>
				<div class="mosaic__item-wr">
					<a href="#" class="mosaic__item mosaic__item_adidas"></a>
				</div>
			</div>
			<div class="mosaic__column">
				<div class="mosaic__item-wr">
					<a href="#" class="mosaic__item mosaic__item_pandora"></a>
				</div>
				<div class="mosaic__item-wr">
					<a href="#" class="mosaic__item mosaic__item_shoes"></a>
				</div>
			</div>
		</div>
	</div>
</div>