<div class="menu-column">
	<div class="flex_between">
		<a href="/" class="logo"></a>
		<div class="burger"></div>
	</div>
	<nav class="navbar">
		<ul class="menu">
			<li class="menu__item menu__item_shares">
				<a href="news.html">Акции</a>
			</li>
			<li class="menu__item menu__item_shops">
				<a href="shops.html">Магазины</a>
			</li>
			<li class="menu__item menu__item_events">
				<a href="events.html">События</a>
			</li>
			<li class="menu__item menu__item_restaurants">
				<a href="restaurants.html">Рестораны</a>
			</li>
			<li class="menu__item menu__item_entertainment">
			   <a href="entertainments.html">Развлечения</a>
			</li>
			<li class="menu__item menu__item_services">
				<a href="services.html">Услуги</a>
			</li>
			<li class="menu__item menu__item_contacts">
			   <a href="contacts.html">Контакты</a>
			</li>
		</ul>
	</nav>
	<div class="menu-column__contacts flex-column_center">
		<div class="contact contact_address">г. Тула, улица Советская, дом 47</div>
		<a href="tel:74957272424" class="contact contact_phone phone_mobile">+7 495 727 24 24</a>
	</div>
</div>