<div class="partners">
	<div class="wrapper">
		<div class="partners__inner flex">
			<div class="partners__item partners__item_msd">
				<a href="#" class="partners__partner"></a>
			</div>
			<div class="partners__item partners__item_pongs">
				<a href="#" class="partners__partner"></a>
			</div>
			<div class="partners__item partners__item_descor">
				<a href="#" class="partners__partner"></a>
			</div>
			<div class="partners__item partners__item_clipso">
				<a href="#" class="partners__partner"></a>
			</div>
			<div class="partners__item partners__item_renolit">
				<a href="#" class="partners__partner"></a>
			</div>
			<div class="partners__item partners__item_ecola">
				<a href="#" class="partners__partner"></a>
			</div>
		</div>
	</div>
</div>