<div class="plate">
	<div class="caption-background">
		<div>мага</div>
		<div>зины</div>
	</div>
	<div class="plate__top-line flex_between">
		<a href="#" class="plates__back-link">вернуться к списку</a>
		<a href="#" class="plate__logo plate__logo_oodji"></a>
	</div>
	<div class="plate__content">
		<div class="plate__category">одежда</div>
		<div class="plate__caption">oodji</div>
		<a href="tel:74957272424" class="contact contact_phone">+7 495 727 24 24</a>
		<a href="https://oodji.com" class="contact contact_site">oodji.com</a>
		<div class="contact contact_shedule">вс-чт 10:00-22:00, пт-сб 10:00-21:00</div>
		<div class="plate__location flex">
			<div class="contact contact_stage">2 этаж</div>
			<a href="#" class="button button_biege">на схеме</a>
		</div>
		<div class="plate__social flex">
			<a href="#" class="social-icon social-icon_vk"></a>
			<a href="#" class="social-icon social-icon_insta"></a>
			<a href="#" class="social-icon social-icon_fb"></a>
		</div>
		<div class="plate__hashtag">#магазинoodji</div>
	</div>
</div>