<div id="teacher" class="person">
	<div class="person__wrapper">
		<div class="person__header">
			<div class="person__name">Екатерина Валунова</div>
			<div class="person__position">Художник-аниматор</div>
		</div>
		<div class="person__content">
			<h3>Образование:</h3>
			<p>Санкт-Петербургский государственный университет, Факультет психологии</p>
			<h3>Достижения:</h3>
			<p>Более 12 лет является психологом-консультантом, а также специалистом по обучению и развитию персонала в различных организациях.</p>
			<p>В должности Начальника отдела обучения крупной транспортно-логистической компании создала и провела десятки тренингов и семинаров для персонала, создала стандарты предоставления услуг и стандарты работы с клиентами, которые компания продолжает использовать</p>
			<div class="person__spaceman"></div>
		</div>
	</div>
</div>
 