<div class="ready-made">
	<div class="wrapper">
		<div class="ready-made__lamp"></div>
		<h2 class="caption">Готовые решения с ценой «под ключ»</h2>
		<div class="ready-made__examples  examples">
			<div class="examples__slide flex">
				<div class="plate">
					<div class="plate__img"></div>
					<div class="plate__text">
						<div class="plate__caption">Квартира-студия в Домодедово (28 м2)</div>
						<a href="#order" data-fancybox="" class="plate__button button ">Заказать такой же</a>
					</div>
				</div>
				<div class="lines">
					<div class="lines__caption flex">
						<div class="lines__name">Название</div>
						<div class="lines__size">Объем</div>
						<div class="lines__price">Сумма</div>
					</div>
					<div class="lines__content">
						<div class="lines__line flex">
							<div class="lines__name">Сертифицированное полотно DESCOR белое глянцевое</div>
							<div class="lines__size">28 м&sup2; х 150 руб.</div>
							<div class="lines__price lines__price_discount">
								<div class="lines__new-price flex">
									<div class="lines__new-ammount">2100 руб.</div>
									<div class="lines__percent">- 50%</div>
								</div>
								<div class="lines__old-price">4200 руб.</div>
							</div>
						</div>
						@@loop('../template/line.html',[
							{"title":"Монтаж полотна", "term":"28 м&sup2; х 150 руб.", "price":"4200 руб."},
							{"title":"Профиль по периметру с установкой", "term":"22 м.п. х 190 руб.", "price":"4180 руб."},
							{"title":"Крюк для люстры с установкой", "term":"1 шт. х 200 руб.", "price":"200 руб."},
							{"title":"Замер", "term":"---", "price":"0 руб."},
							{"title":"Доставка", "term":"---", "price":"0 руб."}
						])
					</div>
					<div class="lines__total flex">
						<div class="lines__name lines__name_total">Итого:</div>
						<div class="lines__price lines__price_total">12 780 руб.</div>
					</div>
					<div class="lines__discount flex">
						<div class="lines__name lines__name_total">Cо скидкой:</div>
						<div class="lines__price lines__price_total-discount">10 680 <span>руб.</span></div>
					</div>
				</div>
			</div>
			<div class="examples__slide flex">
				<div class="plate">
					<div class="plate__img"></div>
					<div class="plate__text">
						<div class="plate__caption">Квартира-студия в Домодедово (28 м2)</div>
						<a href="#order" data-fancybox="" class="plate__button button">Заказать такой же</a>
					</div>
				</div>
				<div class="lines">
					<div class="lines__caption flex">
						<div class="lines__name">Название</div>
						<div class="lines__size">Объем</div>
						<div class="lines__price">Сумма</div>
					</div>
					<div class="lines__content">
						<div class="lines__line flex">
							<div class="lines__name">Сертифицированное полотно DESCOR белое глянцевое</div>
							<div class="lines__size">28 м&sup2; х 150 руб.</div>
							<div class="lines__price lines__price_discount">
								<div class="lines__new-price flex">
									<div class="lines__new-ammount">2100 руб.</div>
									<div class="lines__percent">- 50%</div>
								</div>
								<div class="lines__old-price">4200 руб.</div>
							</div>
						</div>
						@@loop('../template/line.html',[
							{"title":"Монтаж полотна", "term":"28 м&sup2; х 150 руб.", "price":"4200 руб."},
							{"title":"Профиль по периметру с установкой", "term":"22 м.п. х 190 руб.", "price":"4180 руб."},
							{"title":"Крюк для люстры с установкой", "term":"1 шт. х 200 руб.", "price":"200 руб."},
							{"title":"Замер", "term":"---", "price":"0 руб."},
							{"title":"Доставка", "term":"---", "price":"0 руб."}
						])
					</div>
					<div class="lines__total flex">
						<div class="lines__name lines__name_total">Итого:</div>
						<div class="lines__term"></div>
						<div class="lines__price">12 780 руб.</div>
					</div>
					<div class="lines__discount flex">
						<div class="lines__name lines__name_total">Cо скидкой:</div>
						<div class="lines__term"></div>
						<div class="lines__price lines__price_total-discount">10 680 <span>руб.</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>