<div class="restaurants-screen">
	<div class="caption-center caption-center_on-dark">
		<div class="caption-center__backgound">Рестораны</div>
		<div class="caption-center__small-caption">
			<div>Рестораны и кафе</div>
			<a href="#" class="caption-center__button button button_red">Все рестораны</a>
		</div>
	</div>
	<div class="restaurants-screen__dark-plates dark-plates flex">
		@@loop('../template/dark-plate.html',[
				{"title":"Charte Bar", "description":"Фаст-фуд, напитки, Гриль, морепродукты", "stage":"4 этаж"},
				{"title":"Salateira", "description":"итальянская кухня", "stage":"4 этаж"},
				{"title":"Charte Bar", "description":"Фаст-фуд, напитки, Гриль, морепродукты", "stage":"4 этаж"},
				{"title":"Salateira", "description":"итальянская кухня", "stage":"4 этаж"},
				{"title":"Charte Bar", "description":"Фаст-фуд, напитки, Гриль, морепродукты", "stage":"4 этаж"}
			])
	</div>
</div>