<div class="reviews-screen">
	<div class="reviews-screen__bg"></div>
	<div class="wrapper">
		<h2 class="caption">Отзывы наших клиентов</h2>
		<div class="description">Более сотни отзывов на 4 сайтах за 10 лет работы. Нашему опыту можно доверять!</div>
		<div class="reviews reviews_home flex">
			<div class="reviews__item">
				<div class="reviews__content">
					<div class="reviews__text">
					Сделано очень качественно и на совесть, цена более чем приемлимая за такой объем работы и выглядит натяжной потолок как идеально отштукатуренный обычный, именно этого эффекта и добивались! Спасибо огромное за Ваш труд и профессионализм!
					</div>
					<div class="reviews__bottom-line flex">
						<div class="reviews__photo"></div>
						<div class="reviews__name">
							<div class="reviews__name">Никита Астраханцев</div>
							<div class="reviews__icon"></div>
						</div>
					</div>
				</div>
            </div>
			<div class="reviews__item">
				<div class="reviews__content">
					<div class="reviews__text">
					Заказывала натяжной потолок в гостиную (белого цвета сатиновый) и в спальню натяжной потолок с фотопечатью. Приехали, сняли замеры, все согласовали. Выбор потолков с фотопечатью огромный. Монтаж быстрый, сделали все аккуратно и качественно. Результатом осталась очень довольна.
					</div>
					<div class="reviews__bottom-line flex">
						<div class="reviews__photo"></div>
						<div class="reviews__name">
							<div class="reviews__name">Анастасия Емельянова</div>
							<div class="reviews__icon"></div>
						</div>
					</div>
				</div>
            </div>
			<div class="reviews__item">
				<div class="reviews__content">
					<div class="reviews__text">
					Заказывали в компании "Новый Стиль" потолок с перфорацией, не ожидала такого впечатляющего результата. Очень оригинально и не обычно, в своем индивидуальном стиле. Вежливые и грамотные сотрудники. Надеюсь, что в ближайшее время обратимся к вам повторно!
					</div>
					<div class="reviews__bottom-line flex">
						<div class="reviews__photo"></div>
						<div class="reviews__name">
							<div class="reviews__name">Марина Иванова</div>
							<div class="reviews__icon"></div>
						</div>
					</div>
				</div>
            </div>
            <div class="reviews__item">
				<div class="reviews__content">
					<div class="reviews__text">
					Заказывали в компании "Новый Стиль" потолок с перфорацией, не ожидала такого впечатляющего результата. Очень оригинально и не обычно, в своем индивидуальном стиле. Вежливые и грамотные сотрудники. Надеюсь, что в ближайшее время обратимся к вам повторно!
					</div>
					<div class="reviews__bottom-line flex">
						<div class="reviews__photo"></div>
						<div class="reviews__name">
							<div class="reviews__name">Марина Иванова</div>
							<div class="reviews__icon"></div>
						</div>
					</div>
				</div>
            </div>
        </div>
		<div class="reviews__buttons buttons flex">
			<a href="#" class="buttons__button button">Отзывы на potolok-ru.ru</a>
			<a href="#" class="buttons__button button button_black">Отзывы на vseotzyvy.ru</a>
			<a href="#" class="buttons__button button button_black">Отзывы на otzyvy-ru.ru</a>
			<a href="#" class="buttons__button button button_black">Отзывы на yell.ru</a>
		</div>
	</div>
</div>