<div class="services-screen">
	<div class="wrapper">
		<div class="columns flex">
			<div class="columns__left-column">
				<div class="caption caption_white">Услуги</div>
				<div class="services-screen__description">Новый кинотеатр «КИНО СИТИ» на шесть залов и 850 посадочных мест общей площадью более 2 тысяч квадратных метров.</div>
			</div>
			<div class="columns__right-column">
				<div class="simple-plates flex">
					@@loop('../template/simple-plate.html',[
								{"title":"Apple doctor", "description":"5 этаж"},
								{"title":"Kassir.ru", "description":"3 этаж"},
								{"title":"Apple doctor", "description":"5 этаж"},
								{"title":"Планзала", "description":"1 этаж"},
								{"title":"Автомойка", "description":"3 этаж"},
								{"title":"Планзала", "description":"1 этаж"},
								{"title":"Apple doctor", "description":"5 этаж"},
								{"title":"Kassir.ru", "description":"3 этаж"},
								{"title":"Гостинничный Комплекс Армения", "description":""}
							])
				</div>
			</div>
		</div>
	</div>
</div>