<div class="services-screen padding-small">
	<div class="caption-background">
		<div>серви</div>
		<div>сы</div>
	</div>
	<div class="wrapper">
		<div class="columns flex">
			<div class="columns__left-column">
				<div class="caption caption_white">Услуги</div>
				<div class="description">Новый кинотеатр «КИНО СИТИ» на шесть залов и 850 посадочных мест общей площадью более 2 тысяч квадратных метров.</div>
			</div>
			<div class="columns__right-column">
				<div class="swiper-services swiper-only-mobile">
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<a href="#" class="simple-plate">
									<div class="simple-plate__caption">Apple doctor</div>
									<div class="simple-plate__description">5 этаж</div>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="simple-plate">
									<div class="simple-plate__caption">Kassir.ru</div>
									<div class="simple-plate__description">3 этаж</div>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="simple-plate">
									<div class="simple-plate__caption">Apple doctor</div>
									<div class="simple-plate__description">5 этаж</div>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="simple-plate">
									<div class="simple-plate__caption">Планзала doctor</div>
									<div class="simple-plate__description">1 этаж</div>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="simple-plate">
									<div class="simple-plate__caption">Apple doctor</div>
									<div class="simple-plate__description">5 этаж</div>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="simple-plate">
									<div class="simple-plate__caption">Планзала</div>
									<div class="simple-plate__description">1 этаж</div>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="simple-plate">
									<div class="simple-plate__caption">Apple doctor</div>
									<div class="simple-plate__description">5 этаж</div>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="simple-plate">
									<div class="simple-plate__caption">Kassir.ru</div>
									<div class="simple-plate__description">3 этаж</div>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="simple-plate">
									<div class="simple-plate__caption">Гостинничный Комплекс Армения</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>