<div class="shares-events no-wrapper padding-small">
	<div class="caption-background caption-background_white">
		<div>новос</div>
		<div>ти</div>
	</div>
	<div class="columns flex">
		<div class="columns__left-column">
			<div class="caption">Cобытия</div>
			<a href="events.html" class="button button_brown">Все события</a>
		</div>
		<div class="columns__right-column">
			<div class="swiper-shares">
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<a href="#" class="photo-info">
								<div class="photo-info__photo photo-info__photo_maltina"></div>
								<div class="photo-info__info">Новая Коллекция Maltina Accessories</div>
							</a>
						</div>
						<div class="swiper-slide swiper-slide_big">
							<a href="#" class="photo-info photo-info_big"></a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="photo-info">
								<div class="photo-info__photo photo-info__photo_isabel"></div>
								<div class="photo-info__info">ISABEL MARANT Открытие бутика</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="photo-info">
								<div class="photo-info__photo photo-info__photo_maltina"></div>
								<div class="photo-info__info">Новая Коллекция Maltina Accessories</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="photo-info">
								<div class="photo-info__photo photo-info__photo_maltina"></div>
								<div class="photo-info__info">Новая Коллекция Maltina Accessories</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>