<div class="shares-events no-wrapper">
	<div class="columns flex">
		<div class="columns__left-column">
			<div class="caption">Акции и&nbsp;события</div>
			<a href="#" class="button button_brown">Все акции</a>
		</div>
		<div class="columns__right-column">
			<div class="swiper-shares">
				<div class="swiper-container">
					<div class="swiper-wrapper">
					  <div class="swiper-slide">
						<a href="#" class="photo-info"></a>
					  </div>
					  <div class="swiper-slide swiper-slide_big">
						<a href="#" class="photo-info photo-info_big"></a>
					  </div>
					  <div class="swiper-slide">
						<a href="#" class="photo-info"></a>
					  </div>
					  <div class="swiper-slide">
						<a href="#" class="photo-info"></a>
					  </div>
					  <div class="swiper-slide">
						<a href="#" class="photo-info"></a>
					  </div>
					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
		</div>
	</div>
</div>