<div class="shops-screen no-wrapper padding-small">
	<div class="caption-background">
		<div>магази</div>
		<div>ны</div>
	</div>
	<div class="columns flex">
		<div class="columns__left-column">
			<div class="caption caption_white">Магазины</div>
			<a href="#" class="button button_red">Все магазины</a>
		</div>
		<div class="columns__right-column">
			<div class="swiper-shops swiper-with-pagination">
				<div class="swiper-pagination"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<a href="#" class="shop-plate">
								<div class="shop-plate__logo flex">
									<img src="images/ecco-logo.png" alt="">
								</div>
								<div>
									<div class="shop-plate__name">New Balance</div>
									<div class="shop-plate__category">Обувь</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide swiper-slide_big">
							<a href="#" class="shop-plate">
								<div class="shop-plate__logo flex">
									<img src="images/new-balance-logo.png" alt="">
								</div>
								<div>
									<div class="shop-plate__name">Oodji</div>
									<div class="shop-plate__category">Одежда</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="shop-plate">
								<div class="shop-plate__logo flex">
									<img src="images/ecco-logo.png" alt="">
								</div>
								<div>
									<div class="shop-plate__name">Ecco</div>
									<div class="shop-plate__category">Обувь</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="shop-plate">
								<div class="shop-plate__logo flex">
									<img src="images/new-balance-logo.png" alt="">
								</div>
								<div>
									<div class="shop-plate__name">New Balance</div>
									<div class="shop-plate__category">Обувь</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide swiper-slide_big">
							<a href="#" class="shop-plate">
								<div class="shop-plate__logo flex">
									<img src="images/new-balance-logo.png" alt="">
								</div>
								<div>
									<div class="shop-plate__name">Oodji</div>
									<div class="shop-plate__category">Одежда</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="shop-plate">
								<div class="shop-plate__logo flex">
									<img src="images/new-balance-logo.png" alt="">
								</div>
								<div>
									<div class="shop-plate__name">Ecco</div>
									<div class="shop-plate__category">Ювелирные изделия</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide swiper-slide_big">
							<a href="#" class="shop-plate">
								<div class="shop-plate__logo flex">
									<img src="images/new-balance-logo.png" alt="">
								</div>
								<div>
									<div class="shop-plate__name">Oodji</div>
									<div class="shop-plate__category">Одежда</div>
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="shop-plate">
								<div class="shop-plate__logo flex">
									<img src="images/new-balance-logo.png" alt="">
								</div>
								<div>
									<div class="shop-plate__name">Ecco</div>
									<div class="shop-plate__category">Ювелирные изделия</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>