<div class="sight-screen padding-big">
	<div class="caption-background">
		<div>достопри</div>
		<div>мечатель</div>
		<div>ности</div>
	</div>
	<div class="wrapper">
		<div class="columns flex">
			<div class="columns__left-column">
				<div class="common-name">Достопримечательности</div>
				<div class="caption caption_white">Рядом с&nbsp;ТРЦ</div>
			</div>
			<div class="columns__right-column">
				<div class="swiper-sight">
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-container">
						<div class="swiper-wrapper sight">
							<div class="swiper-slide">
								<div class="sight__item">
									<div class="sight__item-wr sight__item-wr_gingerbread">
										<div class="sight__caption">Памятник Тульскому прянику</div>
										<div class="sight__time">1 минута</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="sight__item sight__item_double">
									<div class="sight__item-wr sight__item-wr_samovar">
										<div class="sight__caption">Музей самоваров</div>
										<div class="sight__time">3 минуты</div>
									</div>
									<div class="sight__item-wr sight__item-wr_weapons">
										<div class="sight__caption">Музей оружия</div>
										<div class="sight__time">19 минут</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="sight__item">
									<div class="sight__item-wr sight__item-wr_kremlin">
										<div class="sight__caption">Тульский кремль</div>
										<div class="sight__time">4 минуты</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="sight__item sight__item_double">
									<div class="sight__item-wr sight__item-wr_park">
										<div class="sight__caption">Центральный парк</div>
										<div class="sight__time">18 минут</div>
									</div>
									<div class="sight__item-wr sight__item-wr_glade">
										<div class="sight__caption">Ясная поляна</div>
										<div class="sight__time">35 минут</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="sight__item">
									<div class="sight__item-wr sight__item-wr_temple">
										<div class="sight__caption">Храм Сергия Радонежского</div>
										<div class="sight__time">20 минут</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="sight__item">
									<div class="sight__item-wr sight__item-wr_victory">
										<div class="sight__caption">Площадь Победы</div>
										<div class="sight__time">25 минут</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>