@import "parts/jquery.fancybox.min.css";
@import "parts/swiper.css";
@import "parts/select2.css";
@import "parts/base-blocks.less";
@import "parts/menu-column.less";
@import "parts/header.less";
@import "parts/main-screen.less";
@import "parts/shares-events.less";
@import "parts/restaurants-screen.less";
@import "parts/shops-screen.less";
@import "parts/entertainment-screen.less";
@import "parts/services-screen.less";
@import "parts/events-screen.less";
@import "parts/sight-screen.less";
@import "parts/forms.less";
@import "parts/footer.less";
@import "parts/popup.less";
@import "parts/pagination.less";
@import "parts/scheme.less";

.inner-page__header {
	width: 100%;
	height: 535px;
	.animated;
	.animated_bottom;
	&.visible {
		.visible;
	}
	.swiper-container {
		padding: 0;
		margin: 0;
	}
}

.inner-page__top-bg {
	background: url(../images/broun-bg.png) no-repeat center top;
	background-size: contain;
	width: 100%;
	height: 680px;
	position: absolute;
	top: 95px;
	left: 0;
	.inner-page__top-bg_entertainments{
		width: 100%;
		height: 100%;
		background: url(../images/balloons-bg.png) no-repeat center;
		background-size: contain;
	}
}

.inner-page .caption-background_white, .caption-center__background_white {
	color: rgba(255, 255, 254, 0.129);
}

.inner-page .caption-center__small-caption {
	font-size: 96px;
	font-family: "JOURNALISM";
	color: rgb(255, 255, 255);
}

.inner-page__main {
	background: #ede9e6;
	padding: 100px 10.4% 120px;
	position: relative;
}

.inner-page__main_black {
	background: #171717;
	p {
		color: rgb(214, 173, 118);
	}
	p:first-child {
		color: #ffffff;
	}
}

.inner-page__right-content {
	width: 44%;
	margin: 0 0 0 auto;
}

.inner-page__content footer{
	background: rgb(255,255,255);
}

/*shops-page*/

.filters {
	padding: 55px 10.4%;
	align-items: center;
	.filters__select.filters__select-only-mobile{
		display: none;
	}
}

.alphabet-filter {
	margin-left: 30px;
}

.alphabet-filter a {
	display: block;
	font-size: 18px;
	margin: 0 8px;
	&:hover {
		color: rgb(241, 56, 54);
	}
}

.alphabet-filter__all {
	color: rgb(241, 56, 54);
}

.big-letter {
	font-size: 330px;
	line-height: 1;
	font-family: "JOURNALISM";
	color: rgb(0, 0, 0);
	margin-top: -45px;
	.animated;
	-ms-transform: translate(100px, -100px);
	-moz-transform: translate(100px, -100px);
	-webkit-transform: translate(100px, -100px);
	transform: translate(100px, -100px);
	&.visible {
		.visible;
	}
}

.plates-group {
	margin-bottom: 100px;
}

.inner-page_shops .swiper-only-mobile .swiper-slide {
	width: 25%;
}

.inner-page_shops footer {
    background: #ede9e6;
    background: -moz-linear-gradient(top,#ede9e6 0,#ede9e6 60%,#fff 60%,rgba(255,255,255) 100%);
    background: -webkit-linear-gradient(top,#ede9e6 0,#ede9e6 60%,#fff 60%,rgba(255,255,255) 100%);
    background: linear-gradient(to bottom,#ede9e6 0,#ede9e6 60%,#fff 60%,rgba(255,255,255) 100%);
    padding-top: 150px;
    padding-bottom: 70px;
    position: relative;
}

/*shop-page*/

.swiper-header {
	height: 100%;
	position: relative;
}

.swiper-header .swiper-pagination {
	background: rgba(255,255,255,.5);
	left: auto;
	top: auto;
    bottom: 40px;
    right: 31%;
	.swiper-pagination-progressbar-fill {
		height: 3px;
	}
}

.swiper-header .swiper-button-next, .swiper-header .swiper-button-prev {
	left: auto;
	top: auto;
    bottom: 26px;
    right: calc(33% + 186px);
	left: auto;
}

.swiper-header .swiper-button-next {
    right: calc(33% - 80px);
}

.swiper-header_oodji .swiper-slide {
	background: url(../images/oodji-bg.jpg) no-repeat center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.plate {
	position: absolute;
	z-index: 10;
	top: 215px;
	left: 10.4%;
	box-sizing: border-box;
	background: rgb(255,255,255);
	width: 33.5%;
	padding: 35px 30px 35px 55px;
	overflow: hidden;
	.caption-background {
		color: rgba(243, 240, 238, 0.6);
		top: -35px;
		left: -10px;
	}
	.plate__top-line{
		position: relative;
	}
	
	.plates__back-link {
		font-size: 12px;
		box-sizing: border-box;
		padding-left: 30px;
		position: relative;
		&:before {
			content: "";
			background: url(../images/icons/arrow%20back.svg) no-repeat center;
			background-size: contain;
			width: 12px;
			height: 7px;
			position: absolute;
			left: 0;
			top: 5px;
		}
	}
	
	.plate__logo img {
		display: block;
		max-width: 130px;
		max-height: 56px;
	}
	.plate__content {
		position: relative;
		z-index: 1;
		box-sizing: border-box;
		padding: 110px 50px 65px 95px;
		.plate__category {
			font-size: 12px;
			color: rgb(121, 95, 49);
			text-transform: uppercase;
		}
		.plate__caption {
			font-size: 96px;
			line-height: 1;
			font-family: "JOURNALISM";
			margin: 15px 0 40px;
		}
		.plate__contact-line{
			align-items: center;
			margin: 25px 0;
			svg {
				.animated;
				-ms-transform: translate(-100px, 0);
				-moz-transform: translate(-100px, 0);
				-webkit-transform: translate(-100px, 0);
				transform: translate(-100px, 0);
				&.visible {
					.visible;
				}
				.cls-1 {
					fill: #d6ad76;
				}
			}
		}
		.contact {
			font-size: 16px;
			padding-left: 15px;
			&:before {
				display: none;
			}
			.animated;
			.animated_right;
			&.visible {
				.visible;
			}
		}
		.plate__location {
			align-items: center;
			margin: 15px 0;
			.contact {
				margin: 0;
			}
			.button {
				margin-left: 10px;
				width: auto;
				padding: 4px 15px 5px;
				.animated;
				.animated_right;
				&.visible {
					.visible;
				}
			}
		}
		.plate__social {
			margin: 45px 0 30px;
			a {
				margin-right: 10px;
			}
		}
		.plate__hashtag {
			font-size: 16px;
			color: rgb(241, 56, 54);
		}
	}
}

/*tabs*/

.tabs {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0 -16px;
	.tabs__buttons {
		padding-left: 56%;
		margin-bottom: 50px;
	}

	.tabs__button {
		padding: 10px 15px;
		width: 145px;
		margin-right: 10px;
	}

	.tabs__content {
		display: flex;
		align-items: flex-start;
		position: relative;
		width: 500%;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		.animated;
	}

	.tabs__item {
		width: 20%;
		display: inline;
		box-sizing: border-box;
		padding: 0 16px;
		&.tabs__item__about .tabs__inner {
			padding-left: 56%;
		}
		&.tabs__item_products .tabs__inner {
			padding-left: 10%;
			margin: -16px;
		}
		.pagination-line {
			padding-left: 10%;
		}
	}
	
	.tabs__item .tabs__inner>p:first-child {
		font-size: 24px;
		line-height: 1.3;
		margin: 0 0 45px;
	}
	
	.tabs__item_actions .tabs__inner {
		margin: -16px;
		flex-wrap: wrap;
	}
	
	.new-item {
		box-sizing: border-box;
		width: 25%;
		padding: 16px;
	}
}

.goods {
	flex-wrap: wrap;
}

.goods__plate-wr {
	box-sizing: border-box;
	width: 25%;
	padding: 16px;
}

.goods-plate {
	background: rgb(255,255,255);
	.animated;
	.animated_bottom;
	&.visible {
		.visible;
	}
	&:hover {
		box-shadow: @box-shadow-hover;
	}
	.goods-plate__photo {
	}
	img {
		width: 100%;
	}
	.goods-plate__text {
		padding: 30px 30px 40px 40px;
	}
	.goods-plate__caption {
		display: block;
		font-size: 24px;
		color: rgb(121, 95, 49);
		margin-bottom: 15px;
	}
	.goods-plate__detail {
		color: rgb(63, 45, 41);
	}
	.goods-plate__bottom {
		&.flex_between{
			margin-top: 30px;
		}
	}
	.goods-plate__price {
		font-size: 16px;
		color: rgb(0, 0, 0);
		font-weight: bold;
		text-transform: uppercase;
	}
	.goods-plate__reserv {
		font-size: 14px;
		color: rgb(241, 56, 54);
		cursor: pointer;
	}
}

/*news-pages*/

.inner-page_news .inner-page__main {
	padding: 90px 50px 90px 10.4%;
}

.news-mosaic {
	flex-wrap: wrap;
	margin: -16px;
}

.news-mosaic__item {
	box-sizing: border-box;
	padding: 16px;
	a {
		height: 100%;
	}
}

.news-mosaic__item_big {
	width: 40%;
	a {
		width: 100%;
	}
}

.news-mosaic__item_small {
	width: 20%;
}

.calendar {
	position: relative;
	.calendar__line {
		margin-bottom: 17px;
		cursor: pointer;
	}
	.calendar__year {
		font-size: 36px;
		font-family: "JOURNALISM";
		color: rgb(121, 95, 49);
	}
	.calendar__icon {
		display: none;
		background: url(../images/icons/arrow-black.svg) no-repeat center;
		width: 10px;
		height: 7px;
		margin: 20px 30px 0;
	}
	.calendar__months {
		display: none;
		padding: 10px 0 0;
		margin: 0;
		position: absolute;
		top: 0;
		left: 110px;
		z-index: 10;
	}
	.calendar__line:last-child .calendar__months, .calendar__line:nth-child(4n) .calendar__months {
		top: auto;
		bottom: 0;
	}
	
	.calendar__line {
		&.active .calendar__year {
			color: rgb(241, 56, 54);
		}
		&.active .calendar__months {
			display: block;
		}
		&.active .calendar__icon {
			display: block;
		}
	}
	
	.calendar__month {
		list-style: none;
		&.active a{
			color: rgb(241, 56, 54);
		}
	}
	a {
		display: block;
		font-size: 14px;
		color: rgb(12, 12, 12);
		padding: 2px 0;
		&:hover{
			color: rgb(241, 56, 54);
		}
	}
}

.photo-info_big.photo-info_with-text {
	background: url(../images/news-dark-bg.jpg) no-repeat center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
    box-sizing: border-box;
	.news-mosaic__date {
		font-size: 12px;
		color: rgb(214, 173, 118);
		text-align: center;
	}
	.news-mosaic__caption {
		font-size: 54px;
		line-height: 1;
		font-family: "JOURNALISM";
		color: #fff;
		text-align: center;
		max-width: 320px;
		margin: 25px 0;
	}
	.news-mosaic__description {
		font-size: 14px;
		color: #d6ad76;
		text-align: center;
		max-width: 250px;
		margin-bottom: 30px;
	}
	.news-mosaic__button {
		border-radius: 50%;
		background: url(../images/icons/arrow-right-white.svg) no-repeat center ,rgb(241, 56, 54);
		width: 57px;
		height: 57px;
	}
	&:hover .news-mosaic__button {
		background: url(../images/icons/arrow-right-white.svg) no-repeat center, #795f31;
	}
}

.inner-page__simple-top-bg_event {
	background: url(../images/news-maltina.jpg) no-repeat center;
	background-size: cover;
	display: flex;
	align-items: center;
	padding-left: 55%;
	padding-right: 20px;
}

.inner-page_event .caption-center__small-caption {
	position: static;
	max-width: 600px;
	text-align: left;
	align-items: flex-start;
}

.inner-page_event .inner-page__main {
	background: #fff;
	position: relative;
}

.event-banner {
	position: absolute;
	left: 10.4%;
	top: -450px;
	width: 40%;
	.animated;
	.animated_bottom;
	&.visible {
		.visible;
	}
	img {
		width: 100%;
	}
}

.inner-page__right-text {
	width: 45%;
	margin: 0 0 0 auto;
	p {
		.animated;
		.animated_bottom;
		&.visible {
			.visible;
		}
	}
}


/*restaurants-pages*/

@media screen and (min-width: 1280px) {
	.inner-page_restaurants .swiper-only-mobile .swiper-slide {
		width: 25%;
	}
}

@media screen and (min-width: 1440px) {
	.inner-page_restaurants .swiper-only-mobile .swiper-slide {
		width: 20%;
	}
}

.inner-page__simple-top-bg_restaurant {
	background: url(../images/restaurant-bg.jpg) no-repeat center;
	background-size: cover;
}

.inner-page_restaurant .columns__left-column {
	padding-top: 40px;
}

.black-slider {
    background: #171717;
    background: -moz-linear-gradient(left,#131313 0,#131313 45%,#313131 45%,#313131 100%);
    background: -webkit-linear-gradient(left,#131313 0,#131313 45%,#313131 45%,#313131 100%);
    background: linear-gradient(to right,#131313 0,#131313 45%,#313131 45%,#313131 100%);
    position: relative;
}

.swiper-simrest .swiper-slide {
	width: 275px;
}


.inner-page.inner-page_restaurant footer {
	background: rgb(23,23,23); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(23,23,23) 0%, rgb(23,23,23) 60%, rgb(255,255,255) 60%, rgba(255,255,255) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(23,23,23) 0%, rgb(23,23,23) 60%, rgb(255,255,255) 60%, rgba(255,255,255) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(23,23,23) 0%, rgb(23,23,23) 60%, rgb(255,255,255) 60%, rgba(255,255,255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding-top: 200px;
}


/*entertainment-pages*/

.inner-page__simple-top-bg_film {
	background: url(../images/film-bg.jpg) no-repeat center;
	background-size: cover;
}

.more-button {
	display: inline-block;
	cursor: pointer;
	color: rgb(121, 95, 49);
	position: relative;
	&:before {
		content: "";
		background: url(../images/icons/arrow-down-brown.svg) no-repeat center;
		background-size: contain;
		width: 6px;
		height: 8px;
		position: absolute;
		right: -20px;
		top: 7px;
	}
	&.open {
		display: none;
	}
}

.more-info {
	display: none;
	&.open {
		display: block;
	}
}

.entertainment-slider {
	padding-left: 10.4%;
	padding-right: 50px;
	position: relative;
	background: url(../images/entertainment-bg.jpg) no-repeat center top;
	background-size: cover;
	.columns__left-column {
    box-sizing: border-box;
		width: 41%;
	}
		.columns__right-column {
		width: 59%;
	}
	
	.caption-center {
		display: inline-block;
	}
	
	.caption-center__background {
		text-align: left;
		display: inline-block;
	}
	.swiper-pagination {
		left: 55px;
		top: 283px;
	}
		
	.swiper-with-pagination .swiper-button-next, .swiper-with-pagination .swiper-button-prev {
		left: 0;
		top: 291px;
	}
	
	.swiper-with-pagination .swiper-button-next {
		right: auto;
		left: 285px;
	}
	
	.entertainment {
		padding: 70px 50px 45px 90px;
		height: 435px;
	}
}


/*services-page*/


.inner-page_services .simple-plate {
    height: 210px;
	justify-content: space-between;
	&:hover {
		background: #fff;
		.simple-plate__caption {
			color: #000;
		}
	}
	.simple-plate__logo {
		height: 100px;
		display: flex;
		align-items: center;
	}
}

.inner-page__simple-top-bg {
	width: 100%;
	height: 537px;
	&.inner-page__simple-top-bg_service {
		background: url(../images/auto-bg.jpg) no-repeat center;
		background-size: cover;
	}
}


/*contacts-page*/

.inner-page_contacts footer{
	.footer-contacts__line_phones .contact_phone{
		margin: 5px 0;
		&:before {
			display: none;
		}
		&:first-child:before {
			display: block;
		}
		span {
			font-size: 10px;
		}
	}
}

.map {
	position: relative;
	width: 100%;
	height: 700px;
	z-index: 1;
}


.gm-style-mtc > div,
.gmnoprint > div,
.gm-svpc {
  display: none !important;
}

/*media*/ 

@media screen and (max-width: 1823px) {

	.news-mosaic .caption {
		font-size: 74px;
	}

	.calendar {
		.calendar__year {
			font-size: 26px;
		}
		
		 .calendar__icon {
			margin: 14px 30px 0;
		}
		
		 .calendar__months {
			padding: 5px 0 0;
		}
	
		 a {
			font-size: 12px;
		}
	}

	.inner-page_shops .swiper-only-mobile .swiper-slide {
		width: 33.3333%;
	}
	
	.plate {
		padding: 25px 20px 20px 30px;
		.plate__content {
    		padding: 30px 10px 30px 40px;
			.plate__caption {
				font-size: 74px;
				margin: 10px 0 30px;
			}
			.plate__contact-line {
				align-items: center;
				margin: 15px 0;
				.contact {
					font-size: 12px;
				}
			}
		}
	}
	
	.tabs .tabs__buttons {
		padding-left: 52%;
	}
	
	.tabs .tabs__item.tabs__item__about .tabs__inner {
		padding-left: 50%;
	}
	
	.tabs .tabs__item.tabs__item_products .tabs__inner {
		padding-left: 0;
	}
	
	.tabs .tabs__item .pagination-line {
		padding-left: 0;
	}
	
	.goods-plate .goods-plate__text {
		padding: 15px 15px 20px 20px;
	}
	
	.goods-plate .goods-plate__caption {
		font-size: 20px;
	}
	
	.goods-plate .goods-plate__detail {
		font-size: 12px;
	}
	
	.goods-plate .goods-plate__price {
		font-size: 14px;
	}
	
	.goods-plate .goods-plate__reserv {
		font-size: 12px;
	}
	
	.inner-page_with-plate .inner-page__main {
		padding-top: 115px;
	}
	
	.tabs .tabs__item.tabs__item__about .tabs__inner {
		padding-left: 0;
	}
	
	.goods__plate-wr {
		&:first-child {
			display: none;
		}
		&:nth-child(10000n-9998) {
			display: none;
		}
	}
	
	.new-item {
		&:first-child {
			display: none;
		}
		&:nth-child(10000n-9998) {
			display: none;
		}
	}
	
	.entertainment-slider .entertainment {
		padding: 40px 50px 35px 50px;
		height: 315px;
	}
}

@media screen and (max-width: 1439px) {
	.swiper-fun .swiper-slide {
		width: 300px;
	}
	
	.inner-page_with-plate .inner-page__main {
		padding-top: 100px;
	}
	
	.swiper-header .swiper-pagination {
		right: 11%;
	}
	
	.swiper-header .swiper-button-next, .swiper-header .swiper-button-prev {
		right: calc(11% + 210px);
	}

	.swiper-header .swiper-button-next {
		right: calc(11% - 35px);
	}
	
	.restaurants-screen .swiper-restaurants-page .swiper-button-prev, .restaurants-screen .swiper-restaurants-page .swiper-button-next {
		display: none;
	}
	
	.inner-page footer {
		padding-top: 86px;
	}
	
	.inner-page_shops .swiper-only-mobile .swiper-slide {
		width: 50%;
	}
	
	.filters {
		flex-direction: column;
		padding: 30px 10.4%;
	}
	
	.alphabet-filter {
		margin-top: 25px;
		margin-left: 0;
	}
	
	.news-mosaic {
		.photo-info {
			font-size: 20px;
		}
		.photo-info .photo-info__photo {
			height: 150px;
		}
		
		.photo-info .photo-info__info {
			padding: 30px;
		}
	}
	
	.news-mosaic {
		.photo-info:before {
			right: 20px;
			bottom: 20px;
		}
	}
	
	.news-mosaic .caption {
		font-size: 56px;
	}
	
}

@media screen and (max-width: 1365px) {
	.inner-page_event .caption-center__small-caption {
		max-width: 400px;
		font-size: 70px;
	}
}

@media screen and (max-width: 1279px) {
	.inner-page__right-text {
		width: 100%;
	}
	
	.swiper-simrest .swiper-slide {
		width: 200px;
	}
	
	.entertainment-slider {
		.caption-center__background {
			font-size: 120px;
		}
		
		.caption-center__small-caption {
			font-size: 70px;
		}

		.swiper-with-pagination .swiper-pagination {
			left: 0px;
			top: 183px;
			width: 150px;
		}

		.swiper-with-pagination .swiper-button-next, .swiper-with-pagination .swiper-button-prev {
			left: -32px;
			top: 191px;
		}

		.swiper-with-pagination .swiper-button-next {
			right: auto;
			left: 153px;
		}
	}

	
	.tabs .tabs__buttons {
		padding-left: 0;
		justify-content: center;
	}
	
	.goods__plate-wr, .tabs .new-item{
		width: 33.3333%;
	}
	
	.plate {
		width: 100%;
		max-width: 410px;
	}
	
	.inner-page_restaurants .finger {
		display: none;
	}
	
	.inner-page__top-bg {
		background: url(../images/broun-bg.png) no-repeat center top;
		background-size: cover;
		height: 400px;
	}
	
	.inner-page footer {
		padding-top: 28px;
	}
	
	.alphabet-filter a {
		font-size: 14px;
		margin: 0px 6px;
	}
	
	.inner-page_shops .inner-page__main {
		padding-right: 0;
	}
	
	.big-letter {
		font-size: 260px;
		margin-top: -35px;
	}
	
	.inner-page_shops .shop-plate {
		height: 200px;
		padding: 30px 20px 20px;
	}
	
	.inner-page_shops .shop-plate .shop-plate__logo {
		width: 100px;
		height: 60px;
	}
	.swiper-restaurants-page {
		margin-top: 20px;
	}
	
	.inner-page_with-plate .inner-page__main {
		padding-top: 200px;
	}
	
	.inner-page_news .inner-page__main {
		padding: 60px 0 60px 10.4%;
	}
	
	.news-mosaic {
		margin: -10px;
	}
	
	.news-mosaic__item {
		padding: 10px;
	}
	
	.news-mosaic__item_big {
		width: 50%;
	}

	.news-mosaic__item_small {
		width: 25%;
	}
	
	.photo-info_big.photo-info_with-text {
		padding: 15px;
	}
	
	.photo-info_big.photo-info_with-text .news-mosaic__date {
		font-size: 10px;
	}
	
	.photo-info_big.photo-info_with-text .news-mosaic__caption {
		font-size: 32px;
		max-width: 200px;
		margin: 10px 0;
	}
	
	.photo-info_big.photo-info_with-text .news-mosaic__description {
		font-size: 12px;
		max-width: 150px;
		margin-bottom: 20px;
	}
	
	.photo-info_big.photo-info_with-text .news-mosaic__button {
		width: 35px;
		height: 35px;
	}
	
	.news-mosaic .caption {
		font-size: 44px;
		margin-bottom: 10px;
	}

}

@media screen and (max-width: 1023px) {
	

	.calendar {

		.calendar__year {
			font-size: 20px;
		}
		
		 .calendar__icon {
			margin: 10px 20px 0;
		}
		
		 .calendar__months {
			padding: 0;
			left: 74px;
		}
		
		.calendar__line {
			margin-bottom: 7px;
		}
	
		 a {
			font-size: 9px;
			 padding: 1px 0;
		}
	}
	
	.event-banner {
		top: -280px;
	}
	.inner-page .entertainment-slider {
		.caption-center__background {
			font-size: 100px;
		}
		
		.caption-center__small-caption {
			font-size: 46px;
		}
	}
	.inner-page__header {
		height: 330px;
	}
	
	.inner-page__top-bg {
		top: 65px;
	}
	
	.inner-page_services .services-screen .swiper-only-mobile .swiper-wrapper {
		height: 670px;
		.swiper-slide {
			height: 210px;
			padding: 0;
		}
	}
		
	.inner-page .caption-center__small-caption {
		font-size: 76px;
	}
	.inner-page footer {
		padding-top: 80px;
	}
	
	.alphabet-filter a {
		font-size: 12px;
		margin: 0px 5px;
	}
	
	.inner-page_shops .swiper-container {
		margin: -30px; 
	}
	
	.plate {
		max-width: 340px;
	}
	
	.plate .plate__content {
		padding: 20px 10px 20px 25px;
	}
	
	.plate .plates__back-link {
		font-size: 10px;
		padding-left: 17px;
	}
	
	.plate .plate__logo img {
		max-width: 90px;
	}
	
	.plate .plate__content .plate__caption {
		margin: 5px 0 20px;
	}
	
	.plate .plate__content .plate__contact-line {
		margin: 10px 0;
	}
	
	.plate .plate__content  .plate__social {
		margin: 30px 0 15px;
	}
	
	.swiper-header .swiper-pagination {
		right: 40px;
		width: 100px;
	}
	
	.inner-page_with-plate .inner-page__main {
		padding-top: 390px;
	}
	
	.tabs .tabs__item.tabs__item_products .tabs__inner {
		margin: -15px -15px 0;
	}
	
	.goods__plate-wr, .tabs .new-item {
		width: 50%;
	}
	
	.swiper-header .swiper-button-next, .swiper-header .swiper-button-prev {
		right: 135px;
	}

	.swiper-header .swiper-button-next {
		right: 15px;
	}
	
	.inner-page__simple-top-bg {
		height: 300px;
	}
	
	.inner-page_event .caption-center__small-caption {
		font-size: 46px;
		max-width: 300px;
	}
	
	.event-banner {
		width: auto;
		max-width: 40%;
	}
	
	.event-banner img {
		max-height: 300px;
	}
	
	.news-mosaic {
		.photo-info {
			font-size: 14px;
		}
		.photo-info .photo-info__photo {
			height: 100px;
		}
		
		.photo-info .photo-info__info {
			padding: 15px;
		}
	}
}

@media screen and (max-width: 767px) {
	.map {
		height: 400px;
	}
	.tabs {
		margin: 0;
	}
	
	.tabs .tabs__button {
		width: 130px;
		margin: 0 5px;
	}
	
	.inner-page_shops .shop-plate {
		max-width: 280px;
		margin: 0 auto;
	}
	.inner-page_shops .columns__left-column{
		width: 100%;
		text-align: center;
	}
	.inner-page_news .inner-page__main {
		padding: 40px 20px;
	}
	
	.inner-page_with-plate .inner-page__main {
		padding-top: 300px;
	}

	.entertainment-slider {
		padding-left: 20px;
		padding-right: 20px;
		.columns__left-column {
			width: 100%;
			display: flex;
		    justify-content: center;
		}
		.columns__right-column {
			width: 100%;
		}
		.swiper-with-pagination .swiper-pagination {
			left: 0;
			top: 135px;
			width: 140px;
			right: 0;
			margin: 0 auto;
		}

		.swiper-with-pagination .swiper-button-next, .swiper-with-pagination .swiper-button-prev {
			background: 0 0;
			left: calc(50% - 100px);
			top: 143px;
		}

		.swiper-with-pagination .swiper-button-next {
			left: calc(50% + 70px);
		}
	}
	.plate {
		top: 155px;
		left: 20px;
	}
	
	.inner-page__header {
		height: 250px;
	}
	
	.tabs .tabs__item .tabs__inner>p:first-child {
		font-size: 18px;
		margin: 0 0 25px;
	}
	
	.inner-page_services .services-screen .swiper-only-mobile .swiper-wrapper {
		height: auto;
	}
	
	.inner-page__top-bg {
		top: 95px;
	}
	.inner-page_restaurants .finger {
		display: block;
	}
	
	.inner-page .caption-center__small-caption {
		font-size: 46px;
	}
	
	.inner-page .restaurants-screen {
		padding-top: 80px;
		padding-bottom: 50px;
	}
	
	.inner-page footer {
		padding-top: 0;
	}
	
	.inner-page_shops .inner-page__main {
		padding-right: 20px;
	}
	
	.filters__select-group {
		flex-direction: column;
		align-items: center;
		.filters__select {
			margin-bottom: 15px;
			&.filters__select-only-mobile {
				display: block;
			}
		}
	}
	
	.alphabet-filter {
		display: none;
	}
	
	.inner-page__main {
		padding: 40px 20px;
	}
	
    .big-letter {
		font-size: 170px;
		margin-top: 0;
	}
	
	.inner-page_shops .inner-page__main .columns__right-column {
		padding-top: 0;
	}
	.swiper-header .swiper-button-next, .swiper-header .swiper-button-prev {
		background: transparent;
	}
	
	.inner-page__simple-top-bg_event {
		padding-left: 20px;
	}
	
	.event-banner {
		display: none;
	}
	
	.black-slider  {
		background: rgb(13,13,13);
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		.caption-background {
			font-size: 72px;
		}
	}
	
	.black-slider .columns__left-column {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.black-slider .columns__right-column {
		background: rgb(31,31,31);
		box-sizing: border-box;
		padding: 100px 20px 40px;
		position: relative;
		&:before {
			content: "";
			background: rgb(13,13,13);
			width: 100%;
			height: 60px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	
	.inner-page.inner-page_restaurant footer {
		padding-top: 0;
	}
}

@media screen and (max-width: 639px) {
	.news-mosaic {
		justify-content: center;
	}
	
	.news-mosaic__item_big {
		width: 300px;
		height: 300px;
	}

	.news-mosaic__item_small {
		width: 300px;
		height: 350px;
	}
	
	.news-mosaic {
		.photo-info {
			font-size: 16px;
		}
		.photo-info .photo-info__photo {
			height: 130px;
		}
		
		.photo-info .photo-info__info {
			padding: 30px;
		}
	}
	
	.inner-page_with-plate .inner-page__main {
		padding-top: 320px;
	}
	
	.plate {
		width: 100%;
		max-width: 280px;
		left: 20px;
		padding: 25px;
		.plate__content {
			padding: 30px 0 0;
			.plate__category {
				font-size: 10px;
			}

			.plate__caption {
				font-size: 54px;
				margin: 0 0 20px;
			}
			
			.plate__contact-line {
				margin: 10px 0;
				.contact {
					font-size: 10px;
				}
			}	
		}
	}
	
}

@media screen and (max-width: 500px) {
	.goods__plate-wr, .tabs .new-item {
		width: 100%;
	}
}